<app-volunteer-information
  *ngIf="volunteerInformationService.isChoiceVolunteer"
  [currentTab]="'保險'"
/>
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-2 border-bottom-0">
      <div class="label">投保期間</div>
      <div>
        <app-dayPicker formControlName="insurancePeriod_start" />
        <span class="mx-2">-</span>
        <app-dayPicker formControlName="insurancePeriod_end" />
      </div>
      <div class="label">投保狀態</div>
      <div>
        <app-select
          [selectWidth]="'110px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_insuranceStatus"
          formControlName="insuranceStatus"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button
      [buttonIcon]="'search'"
      [buttonText]="'搜尋'"
      (click)="search()"
    />
    <app-button
      [buttonIcon]="'close'"
      [buttonText]="'關閉'"
      (click)="closeTab('保險')"
    />
  </div>
</form>
<div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
<form>
  <div class="mt"></div>
  <div class="grid-search-container">
    <div class="grid-columns searchTitle">
      <div>保險公司</div>
      <div>投保類別</div>
      <div>經費來源</div>
      <div>投保狀態</div>
      <div>投保期間</div>
      <div>操作</div>
    </div>
    <div
      class="grid-columns tableBorder"
      *ngFor="let searchResult of newSearchResultData; let i = index"
      [ngClass]="{
        'even-row': i % 2 === 1,
        'odd-row': i % 2 !== 1
      }"
    >
      <div>
        {{ searchResult.insuranceCompany }}
      </div>
      <div>
        {{ searchResult.insuranceType }}
      </div>
      <div>
        {{ searchResult.fundingSource }}
      </div>
      <div>
        {{ searchResult.insuranceStatus }}
      </div>
      <div>
        {{ searchResult.insurancePeriod }}
      </div>
      <!-- !TODO -->
      <div>
        <app-button [buttonText]="'檢視'" (click)="view()" />
      </div>
    </div>
  </div>
</form>
<div class="mt-10"></div>
<nz-pagination
  [nzPageIndex]="currentPage"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzTotal]="searchResultData.length"
/>
