<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-2">
      <div class="label">舊密碼</div>
      <div>
        <app-input
          [type]="'password'"
          [inputWidth]="'150px'"
          [maxLength]="30"
          formControlName="oldPassword"
        />
      </div>
      <div class="label">新密碼</div>
      <div>
        <app-input
          [type]="'password'"
          [inputWidth]="'150px'"
          [maxLength]="30"
          formControlName="newPassword"
        />
      </div>
    </div>
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">再次輸入新密碼</div>
      <div>
        <app-input
          [type]="'password'"
          [inputWidth]="'150px'"
          [maxLength]="30"
          formControlName="confirmNewPassword"
        />
        <app-error-message
          [isTouched]="true"
          [isCustom]="true"
          [condition]="comparePassword()"
          [errorMessage]="'兩次輸入密碼不同'"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button
      [buttonText]="'修改密碼'"
      [attachClassName]="['warning']"
      (click)="edit()"
    />
    <app-button
      [buttonText]="'關閉'"
      [attachClassName]="['danger']"
      (click)="closeTab()"
    />
  </div>
</form>
