<app-volunteer-information
  *ngIf="volunteerInformationService.isChoiceVolunteer"
  [currentTab]="'退隊表'"
/>
<form [formGroup]="form">
  <div class="grid-container">
    <div>
      <div class="title">基本資料</div>
    </div>
    <div class="grid-columns-2">
      <div class="label">填表日期</div>
      <div class="column-Message">
        <app-dayPicker formControlName="fillingDate" />
        <app-error-message
          [control]="form.get('fillingDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
      <div class="label">填表人</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="fillingPerson"
        />
        <app-error-message
          [control]="form.get('fillingPerson')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">退隊日期</div>
      <div class="column-Message">
        <app-dayPicker formControlName="resignationDate" />
        <app-error-message
          [control]="form.get('resignationDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
      <div class="label">重要事項概要</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'130px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_importantNotesSummary"
          formControlName="importantNotesSummary"
        />
        <app-error-message
          [control]="form.get('importantNotesSummary')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div>
      <div class="title">備品區</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">備品是否繳回</div>
      <div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="equipmentReturnedChange($event)"
        >
          <div nz-row>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="!volunteerInformationService.isChoiceVolunteer"
                nzValue="1"
                >志工證</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="!volunteerInformationService.isChoiceVolunteer"
                nzValue="2"
                >志工背心</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="!volunteerInformationService.isChoiceVolunteer"
                nzValue="3"
                >志工制服</label
              >
              <span> <span class="volunteerUniformCount">2</span> 件 </span>
            </div>
            <div nz-col>
              <app-error-message
                [control]="form.get('equipmentReturned')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必選"
              />
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-2 border-bottom-0">
      <div class="label">同意書檔案下載</div>
      <div>
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          [nzFileList]="consentForm_fileList"
          (nzChange)="consentForm_handleChange($event)"
        >
          <app-button
            [disabled]="!volunteerInformationService.isChoiceVolunteer"
            *ngIf="form.get('equipmentReturned')?.value.length === 0"
            [buttonText]="'上傳同意書'"
            [attachClassName]="
              !volunteerInformationService.isChoiceVolunteer
                ? ['secondary']
                : ['success']
            "
          />
        </nz-upload>
        <!-- <app-button [buttonText]="'下載'" [attachClassName]="['danger']" /> -->
      </div>
      <div class="label">上傳檔案</div>
      <div>
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          [nzFileList]="file_fileList"
          (nzChange)="file_handleChange($event)"
        >
          <app-button
            [disabled]="!volunteerInformationService.isChoiceVolunteer"
            [buttonText]="'上傳'"
            [attachClassName]="
              !volunteerInformationService.isChoiceVolunteer
                ? ['secondary']
                : ['success']
            "
          />
        </nz-upload>
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button
      *ngIf="volunteerInformationService.isChoiceVolunteer"
      [attachClassName]="['success']"
      [buttonText]="'送審'"
      (click)="review()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('退隊表')"
    />
  </div>
</form>
