<app-volunteer-information
  *ngIf="volunteerInformationService.isChoiceVolunteer"
/>
<form [formGroup]="form">
  <div class="grid-container">
    <div>
      <div class="title">基本資料</div>
    </div>
    <div class="grid-columns-2">
      <div class="label">填表日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="
            !volunteerInformationService.isChoiceVolunteer ||
            hd200ListService.isView
          "
          formControlName="fillingDate"
        />
        <app-error-message
          [control]="form.get('fillingDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
      <div class="label">填表人</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="fillingPerson"
        />
        <app-error-message
          [control]="form.get('fillingPerson')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">退隊日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="
            !volunteerInformationService.isChoiceVolunteer ||
            hd200ListService.isView
          "
          formControlName="resignationDate"
        />
        <app-error-message
          [control]="form.get('resignationDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
      <div class="label">重要事項概要</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'130px'"
          [options]="selectOptions_importantNotesSummary"
          formControlName="importantNotesSummary"
        />
        <app-error-message
          [control]="form.get('importantNotesSummary')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div>
      <div class="title">備品區</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">備品是否繳回</div>
      <div>
        <nz-checkbox-wrapper (nzOnChange)="equipmentReturnedChange($event)">
          <div formGroupName="equipmentReturned">
            <span *ngFor="let option of equipmentReturned">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">同意書檔案下載</div>
      <div>
        <app-button [attachClassName]="['danger']" [buttonText]="'範本下載'" />
        <nz-upload
          *ngIf="isNeedUploadConsentForm"
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          [nzFileList]="consentForm_fileList"
          (nzChange)="consentForm_handleChange($event)"
        >
          <app-button
            [disabled]="
              !volunteerInformationService.isChoiceVolunteer ||
              hd200ListService.isView
            "
            [buttonText]="'上傳同意書'"
            [attachClassName]="
              !volunteerInformationService.isChoiceVolunteer ||
              hd200ListService.isView
                ? ['secondary']
                : ['success']
            "
          />
        </nz-upload>
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button
      *ngIf="volunteerInformationService.isChoiceVolunteer"
      [attachClassName]="['success']"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab()"
    />
  </div>
</form>
