.mr-5 {
  margin-right: 5px;
}

.my-1 {
  margin: 1px 0px;
}

.square {
  margin-right: 5px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 3px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
}

.fontSize-16 {
  font-size: 16px;
}
