<app-case-information
  *ngIf="caseInformationService.isChoiceCase"
  [currentTab]="'個案開案資料表'"
/>
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <!-- !TODO -->
    <div class="title">個案狀態</div>
    <div class="grid-columns-2">
      <div class="label disableBackground">服務狀態</div>
      <div>
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_caseServiceStatus"
          formControlName="caseServiceStatus"
        />
      </div>
      <div class="label disableBackground">個案分級</div>
      <div>
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_caseLevel"
          formControlName="caseLevel"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">開案日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="hd100ListService.isView"
          formControlName="caseStartDate"
        />
        <app-error-message
          [control]="form.get('caseStartDate')"
          errorKey="invalidDate"
          [isTouched]="false"
          errorMessage="必選"
        />
      </div>
      <div class="label disableBackground">結案日期</div>
      <div>
        <app-dayPicker [disabled]="true" formControlName="caseEndDate" />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label disableBackground">結案原因</div>
      <div>
        <app-input
          [inputWidth]="'150px'"
          [maxLength]="50"
          formControlName="caseClosureReason"
        />
      </div>
      <div class="label disableBackground">是否轉介</div>
      <div>
        <app-select
          [selectWidth]="'70px'"
          [options]="selectOptions_trueOrFalse"
          formControlName="isReferred"
        />
      </div>
    </div>
    <div>
      <!-- !TODO -->
      <div class="title">基本資料</div>
    </div>
    <div class="grid-columns-2">
      <div class="label disableBackground">個案來源</div>
      <div>
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="30"
          formControlName="caseSource"
        />
      </div>
      <div class="label disableBackground">姓名</div>
      <div>
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="name"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label disableBackground">性別</div>
      <div>
        <app-select
          [selectWidth]="'70px'"
          [options]="selectOptions_gender"
          formControlName="gender"
        />
      </div>
      <div class="label disableBackground">生日</div>
      <div>
        <app-dayPicker
          [disabled]="hd100ListService.isView"
          [disabled]="true"
          [startRange]="100"
          [endRange]="0"
          formControlName="dateOfBirth"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label disableBackground">身份證字號</div>
      <div>
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="10"
          formControlName="idNumber"
        />
      </div>
      <div class="label disableBackground">手機</div>
      <div>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="4"
          [type]="'number'"
          formControlName="mobileNumber_firstFourDigits"
        />
        <span class="mr-5">-</span>
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="6"
          [type]="'number'"
          formControlName="mobileNumber_lastSixDigits"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label disableBackground">電話</div>
      <div>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="4"
          [type]="'number'"
          formControlName="phoneNumber_areaCode"
        />
        <span class="mr-5">-</span>
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="phoneNumber_phoneNumber"
        />
      </div>
      <div class="label">map定位座標</div>
      <div>
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="50"
          formControlName="mapCoordinates_x"
        />
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="50"
          formControlName="mapCoordinates_y"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label disableBackground">通訊地址</div>
      <div>
        <app-taiwan-city-select formControlName="communicationAddress_select" />
        <app-input
          [inputWidth]="'300px'"
          [maxLength]="30"
          formControlName="communicationAddress"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">戶籍地址</div>
      <div class="column-Message">
        <app-taiwan-city-select
          *ngIf="!isSameAsMailingAddress"
          formControlName="registeredAddress_select"
        />
        <app-input
          *ngIf="!isSameAsMailingAddress"
          [inputWidth]="'300px'"
          [maxLength]="30"
          formControlName="registeredAddress"
        />
        <!-- !TODO 接資料問題代處理 -->
        <div *ngIf="isSameAsMailingAddress">XXX市XXX區XXX里XXX號</div>
        <div>
          <app-button
            *ngIf="!isSameAsMailingAddress"
            [attachClassName]="['success']"
            [buttonText]="'同通訊地址'"
            (click)="isSameAsMailingAddress = !isSameAsMailingAddress"
          />
          <app-button
            *ngIf="isSameAsMailingAddress"
            [attachClassName]="['danger']"
            [buttonText]="'取消'"
            (click)="isSameAsMailingAddress = !isSameAsMailingAddress"
          />
        </div>
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">教育程度</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'140px'"
          [options]="selectOptions_educationLevel"
          formControlName="educationLevel"
        />
        <app-error-message
          [control]="form.get('educationLevel')"
          errorKey="required"
          [isTouched]="false"
          errorMessage="必選"
        />
      </div>
      <div class="label">婚姻狀況</div>
      <div class="column-Message">
        <app-select
          (ngModelChange)="maritalStatusChange($event)"
          [selectWidth]="'70px'"
          [options]="selectOptions_maritalStatus"
          formControlName="maritalStatus"
        />
        @if(form.get('maritalStatus')?.value === '其他'){
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="30"
          formControlName="maritalStatus_other"
        />
        <app-error-message
          [control]="form.get('maritalStatus_other')"
          errorKey="required"
          [isTouched]="false"
          errorMessage="必填"
        />
        }
        <app-error-message
          [control]="form.get('maritalStatus')"
          errorKey="required"
          [isTouched]="false"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">宗教信仰</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="religiousAffiliationChange($event)">
          <div formGroupName="religiousAffiliation">
            <span *ngFor="let option of religiousAffiliation">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <!-- 判斷是否為 '08' 來顯示對應的輸入框 -->
              <app-input
                *ngIf="option.value === '08' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="religiousAffiliation_other"
              />
            </span>
            <label>
              <app-error-message
                [control]="form.get('religiousAffiliation')"
                [isTouched]="false"
                errorKey="atLeastOneChecked"
                errorMessage="必選"
              />
              <app-error-message
                [control]="
                  form.get('religiousAffiliation.religiousAffiliation_other')
                "
                [isTouched]="false"
                errorKey="required"
                errorMessage="必填"
              />
            </label>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">習慣用語</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="commonLanguageChange($event)">
          <div formGroupName="commonLanguage">
            <span *ngFor="let option of commonLanguage">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <!-- 判斷是否為 '05' 來顯示對應的輸入框 -->
              <app-input
                *ngIf="option.value === '04' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="commonLanguage_other"
              />
            </span>
            <label>
              <app-error-message
                [control]="form.get('commonLanguage')"
                [isTouched]="false"
                errorKey="atLeastOneChecked"
                errorMessage="必選"
              />
              <app-error-message
                [control]="form.get('commonLanguage.commonLanguage_other')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必填"
              />
            </label>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">飲食習慣</div>
      <div class="column-Message">
        <nz-checkbox-wrapper>
          <div formGroupName="eatingHabits">
            <span *ngFor="let option of eatingHabits">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">現有疾病狀態</div>
      <div class="column-Message">
        <nz-checkbox-wrapper
          (nzOnChange)="currentHealthConditionsChange($event)"
        >
          <div formGroupName="currentHealthConditions">
            <span *ngFor="let option of currentHealthConditions">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '12' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="currentHealthConditions_other"
              />
            </span>
            <label>
              <app-error-message
                [control]="form.get('currentHealthConditions')"
                [isTouched]="false"
                errorKey="atLeastOneChecked"
                errorMessage="必選"
              />
              <app-error-message
                [control]="
                  form.get(
                    'currentHealthConditions.currentHealthConditions_other'
                  )
                "
                [isTouched]="false"
                errorKey="required"
                errorMessage="必填"
              />
            </label>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">就醫狀態</div>
      <div>
        <div class="grid bold-text fontSize-16">
          <span>就診醫院</span>
          <span>科別</span>
          <span>頻率</span>
          <app-button
            [buttonText]="'新增'"
            [disabled]="hd100ListService.isView"
            [attachClassName]="
              hd100ListService.isView ? ['secondary'] : ['success']
            "
            (click)="showMedicalStatusModal()"
          />
        </div>
        <div
          class="grid"
          *ngFor="
            let status of form.get('medicalStatus')?.value;
            let index = index
          "
        >
          <span>{{ status.medicalStatus_medicalCategory }}</span>
          <span>{{ status.medicalStatus_department }}</span>
          <span>{{ status.medicalStatus_frequency }}</span>
          <app-button
            [attachClassName]="['danger']"
            [buttonText]="'刪除'"
            (click)="deleteMedicalStatus(index)"
          />
        </div>
        <nz-modal
          [(nzVisible)]="isVisible_medicalStatus"
          nzTitle="【新增】就醫狀態"
          (nzOnCancel)="handleMedicalStatusModalCancel()"
          (nzOnOk)="handleMedicalStatusModalOk()"
          [nzOkText]="'新增'"
          [nzCancelText]="'取消'"
          nzWidth="250px"
        >
          <ng-container *nzModalContent>
            <label>
              就診醫院：
              <app-input
                [inputWidth]="'175px'"
                [maxLength]="15"
                formControlName="medicalStatus_medicalCategory"
              />
            </label>
            <app-error-message
              [condition]="
                form.get('medicalStatus_medicalCategory')?.value === null ||
                form.get('medicalStatus_medicalCategory')?.value?.length === 0
              "
              [isCustom]="true"
              errorMessage="必填"
            />
            <label>
              科別：
              <app-input
                [inputWidth]="'175px'"
                [maxLength]="15"
                formControlName="medicalStatus_department"
              />
            </label>
            <app-error-message
              [condition]="
                form.get('medicalStatus_department')?.value === null ||
                form.get('medicalStatus_department')?.value?.length === 0
              "
              [isCustom]="true"
              errorMessage="必填"
            />
            <label
              >頻率：
              <app-input
                [inputWidth]="'175px'"
                [maxLength]="10"
                formControlName="medicalStatus_frequency"
              />
            </label>
            <app-error-message
              [condition]="
                form.get('medicalStatus_frequency')?.value === null ||
                form.get('medicalStatus_frequency')?.value?.length === 0
              "
              [isCustom]="true"
              errorMessage="必填"
            />
          </ng-container>
        </nz-modal>
        <app-error-message
          [condition]="form.get('medicalStatus')?.value.length === 0"
          [isCustom]="true"
          errorKey="required"
          errorMessage="最少要新增一筆資料。"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">輔具使用</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="assistiveDeviceUsageChange($event)">
          <div formGroupName="assistiveDeviceUsage">
            <span *ngFor="let option of assistiveDeviceUsage">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '12' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="assistiveDeviceUsage_other"
              />
            </span>
            <label>
              <app-error-message
                [control]="form.get('assistiveDeviceUsage')"
                [isTouched]="false"
                errorKey="atLeastOneChecked"
                errorMessage="必選"
              />
              <app-error-message
                [control]="
                  form.get('assistiveDeviceUsage.assistiveDeviceUsage_other')
                "
                [isTouched]="false"
                errorKey="required"
                errorMessage="必填"
              />
              <app-error-message
                [condition]="isChoiceProsthesis"
                [isCustom]="true"
                errorMessage="上肢及下肢最少擇一"
              />
            </label>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div>
      <!-- !TODO -->
      <div class="title">福利狀況</div>
    </div>
    <div class="grid-columns-1">
      <div class="label disableBackground">福利身分</div>
      <div>
        <app-select
          [selectWidth]="'120px'"
          [options]="selectOptions_welfareStatus"
          formControlName="welfareStatus"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label disableBackground">社會福利補助</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="socialWelfareSubsidyChange($event)">
          <div formGroupName="socialWelfareSubsidy">
            <label
              [nzDisabled]="option.disabled"
              nz-checkbox
              *ngFor="let option of socialWelfareSubsidy"
              [formControlName]="option.value"
              [nzValue]="option.value"
            >
              {{ option.label }}
            </label>
            <label>
              <app-error-message
                [control]="form.get('socialWelfareSubsidy')"
                [isTouched]="false"
                errorKey="atLeastOneChecked"
                errorMessage="必選"
            /></label>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">身障證明障礙類別</div>
      <div>
        <app-select
          [selectWidth]="'120px'"
          [options]="selectOptions_disabilityCertificateCategory"
          formControlName="disabilityCertificateCategory"
        />
      </div>
      <div class="label">障礙等級</div>
      <div>
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_disabilityLevel"
          formControlName="disabilityLevel"
        />
      </div>
    </div>
    <div>
      <div class="title">經濟來源</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">長期每月經濟來源</div>
      <div>
        <nz-checkbox-wrapper
          (nzOnChange)="longTermMonthlyIncomeSourceChange($event)"
        >
          <div formGroupName="longTermMonthlyIncomeSource">
            <span *ngFor="let option of longTermMonthlyIncomeSource">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-select
                *ngIf="option.value === '01' && option.checked"
                [selectWidth]="'200px'"
                [options]="selectOptions_socialWelfareSubsidy"
                formControlName="socialWelfareAssistance_select"
              />
              <app-input
                *ngIf="
                  form.get(
                    'longTermMonthlyIncomeSource.socialWelfareAssistance_select'
                  )?.value && option.value === '01'
                "
                [inputWidth]="'90px'"
                [maxLength]="8"
                [type]="'number'"
                formControlName="socialWelfareAssistance_input"
              />
              <app-input
                *ngIf="option.value === '02' && option.checked"
                [inputWidth]="'90px'"
                [maxLength]="8"
                [type]="'number'"
                formControlName="childrenSupport"
              />
              <app-input
                *ngIf="option.value === '03' && option.checked"
                [inputWidth]="'90px'"
                [maxLength]="8"
                [type]="'number'"
                formControlName="retirementPension"
              />
              <app-input
                *ngIf="option.value === '04' && option.checked"
                [inputWidth]="'90px'"
                [maxLength]="8"
                [type]="'number'"
                formControlName="ownEmploymentIncome"
              />
              <app-input
                *ngIf="option.value === '05' && option.checked"
                [inputWidth]="'90px'"
                [maxLength]="8"
                [type]="'number'"
                formControlName="spouseEmploymentIncome"
              />
              <app-input
                *ngIf="option.value === '06' && option.checked"
                [inputWidth]="'90px'"
                [maxLength]="8"
                [type]="'number'"
                formControlName="personalOrSpouseSavings"
              />
              <app-input
                *ngIf="option.value === '07' && option.checked"
                [inputWidth]="'90px'"
                [maxLength]="8"
                [type]="'number'"
                formControlName="seniorPension"
              />
              <app-input
                *ngIf="option.value === '08' && option.checked"
                [inputWidth]="'90px'"
                [maxLength]="8"
                [type]="'number'"
                formControlName="privateSectorSubsidy"
              />
              <app-input
                *ngIf="option.value === '09' && option.checked"
                [inputWidth]="'120px'"
                [maxLength]="30"
                formControlName="otherIncome_text"
              />
              <app-input
                *ngIf="
                  form.get('longTermMonthlyIncomeSource.otherIncome_text')
                    ?.value && option.value === '09'
                "
                [inputWidth]="'90px'"
                [maxLength]="8"
                [type]="'number'"
                formControlName="otherIncome_input"
              />
            </span>
            <label>
              <app-error-message
                [control]="form.get('longTermMonthlyIncomeSource')"
                [isTouched]="false"
                errorKey="atLeastOneChecked"
                errorMessage="必選"
              />
              <app-error-message
                [control]="
                  form.get('longTermMonthlyIncomeSource.otherIncome_text')
                "
                [isTouched]="false"
                errorKey="required"
                errorMessage="必填"
              />
              <app-error-message
                [control]="
                  form.get(
                    'longTermMonthlyIncomeSource.socialWelfareAssistance_select'
                  )
                "
                [isTouched]="false"
                errorKey="required"
                errorMessage="必選"
              />
            </label>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div>
      <div class="title">特殊議題</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">特殊議題</div>
      <div>
        <nz-checkbox-wrapper (nzOnChange)="specialIssuesChange($event)">
          <div formGroupName="specialIssues">
            <span *ngFor="let option of specialIssues">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
            <label>
              <!-- TODO: 特殊議題必選驗證-->
            </label>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div>
      <div class="title">福利使用</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">是否使用其他服務</div>
      <div>
        <nz-checkbox-wrapper
          (nzOnChange)="usingOtherHongDaoServicesChange($event)"
        >
          <div formGroupName="usingOtherHongDaoServices">
            <span *ngFor="let option of usingOtherHongDaoServices">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '08' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="usingOtherHongDaoServices_other"
              />
            </span>
            <label>
              <app-error-message
                [control]="form.get('usingOtherHongDaoServices')"
                [isTouched]="false"
                errorKey="atLeastOneChecked"
                errorMessage="必選" />
              <app-error-message
                [control]="
                  form.get(
                    'usingOtherHongDaoServices.usingOtherHongDaoServices_other'
                  )
                "
                [isTouched]="false"
                errorKey="required"
                errorMessage="必填"
            /></label>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">福利使用概況</div>
      <div>
        <nz-checkbox-wrapper (nzOnChange)="welfareUsageOverviewChange($event)">
          <div nz-row formGroupName="welfareUsageOverview">
            <div
              nz-col
              class="my-1"
              nzSpan="24"
              *ngFor="let option of welfareUsageOverview"
            >
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <span *ngIf="option.value === '01' && option.checked">
                <label
                  >單位名稱：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="mealDeliveryService_unitName"
                /></label>
                <label>
                  主責人員：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="mealDeliveryService_serviceResponsiblePerson"
                  />
                </label>
                <label
                  >聯絡電話：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="mealDeliveryService_contactPhone"
                /></label>
              </span>
              <span *ngIf="option.value === '02' && option.checked">
                <label>
                  單位名稱：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="daytimeCare_unitName"
                /></label>
                <label>
                  主責人員：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="daytimeCare_serviceResponsiblePerson"
                /></label>
                <label>
                  聯絡電話：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="daytimeCare_contactPhone"
                /></label>
              </span>
              <span *ngIf="option.value === '03' && option.checked">
                <label>
                  單位名稱：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="homeCareService_unitName"
                /></label>
                <label>
                  主責人員：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="homeCareService_serviceResponsiblePerson"
                /></label>
                <label>
                  聯絡電話：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="homeCareService_contactPhone"
                /></label>
              </span>
              <span *ngIf="option.value === '04' && option.checked">
                <label>
                  單位名稱：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="unitAService_unitName"
                /></label>
                <label>
                  主責人員：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="unitAService_serviceResponsiblePerson"
                /></label>
                <label>
                  聯絡電話：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="unitAService_contactPhone"
                /></label>
              </span>
              <span *ngIf="option.value === '05' && option.checked">
                <label>
                  單位名稱：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="otherUnitService_unitName"
                /></label>
                <label>
                  主責人員：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="otherUnitService_serviceResponsiblePerson"
                /></label>
                <label>
                  聯絡電話：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="otherUnitService_contactPhone"
                /></label>
              </span>
              <span *ngIf="option.value === '06' && option.checked">
                <label>
                  單位名稱：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="transportationService_unitName"
                /></label>
                <label>
                  主責人員：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="transportationService_serviceResponsiblePerson"
                /></label>
                <label>
                  聯絡電話：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="transportationService_contactPhone"
                /></label>
              </span>
              <span *ngIf="option.value === '07' && option.checked">
                <label>
                  單位名稱：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="communityCenter_unitName"
                  />
                </label>
                <label>
                  主責人員：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="communityCenter_serviceResponsiblePerson"
                  />
                </label>
                <label>
                  聯絡電話：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="communityCenter_contactPhone"
                  />
                </label>
              </span>
              <span *ngIf="option.value === '08' && option.checked">
                <label>
                  單位名稱：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="emergencyRescueSystem_unitName"
                /></label>
                <label>
                  主責人員：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="emergencyRescueSystem_serviceResponsiblePerson"
                /></label>
                <label>
                  聯絡電話：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="emergencyRescueSystem_contactPhone"
                  />
                </label>
              </span>
              <span *ngIf="option.value === '09' && option.checked">
                <app-input
                  [inputWidth]="'130px'"
                  [placeholder]="'其他福利名稱'"
                  [maxLength]="30"
                  formControlName="welfareUsageOverview_other" />
                <label>
                  單位名稱：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="welfareUsageOverview_other_unitName"
                  />
                </label>
                <label>
                  主責人員：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="welfareUsageOverview_other_serviceResponsiblePerson"
                  />
                </label>
                <label>
                  聯絡電話：
                  <app-input
                    [inputWidth]="'100px'"
                    [maxLength]="30"
                    formControlName="welfareUsageOverview_other_contactPhone"
                  /> </label
              ></span>
            </div>
            <label>
              <app-error-message
                [control]="form.get('welfareUsageOverview')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必選" />
              <app-error-message
                [control]="
                  form.get('welfareUsageOverview.welfareUsageOverview_other')
                "
                [isTouched]="false"
                errorKey="required"
                errorMessage="必填"
            /></label>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div>
      <div class="title">居住環境</div>
    </div>
    <div class="grid-columns-2">
      <div class="label">住屋種類</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'120px'"
          [options]="selectOptions_housingType"
          formControlName="housingType"
        />
        <app-error-message
          [control]="form.get('housingType')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      <div class="label">住屋所有權</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_housingOwnership"
          formControlName="housingOwnership"
        />
        <app-error-message
          [control]="form.get('housingOwnership')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">住屋概況</div>
      <div>
        <nz-checkbox-wrapper>
          <div formGroupName="housingCondition">
            <span *ngFor="let option of housingCondition">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">居住環境</div>
      <div>
        <nz-checkbox-wrapper>
          <div formGroupName="livingEnvironment">
            <span *ngFor="let option of livingEnvironment">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
            <label>
              <app-error-message
                [control]="form.get('livingEnvironment')"
                [isTouched]="false"
                errorKey="atLeastOneChecked"
                errorMessage="必選"
            /></label>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">同住者</div>
      <div>
        <nz-checkbox-wrapper (nzOnChange)="cohabitantsChange($event)">
          <div formGroupName="cohabitants">
            <span *ngFor="let option of cohabitants">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '10' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="cohabitants_other"
              />
            </span>
            <label>
              <app-error-message
                [control]="form.get('cohabitants')"
                [isTouched]="false"
                errorKey="atLeastOneChecked"
                errorMessage="必選" />
              <app-error-message
                [control]="form.get('cohabitants.cohabitants_other')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必填"
            /></label>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div>
      <div class="title">緊急聯絡人</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">緊急聯絡人</div>
      <div>
        <div class="grid bold-text fontSize-16">
          <span>緊急聯絡人</span>
          <span>關係</span>
          <span>連絡電話</span>
          <app-button
            *ngIf="form.get('emergencyContact')?.value.length < 3"
            [disabled]="hd100ListService.isView"
            [attachClassName]="
              hd100ListService.isView ? ['secondary'] : ['success']
            "
            [buttonText]="'新增'"
            (click)="showEmergencyContactModal()"
          />
        </div>
        <div
          class="grid"
          *ngFor="
            let status of form.get('emergencyContact')?.value;
            let index = index
          "
        >
          <span>{{ status.emergencyContact_emergencyContact }}</span>
          <span>{{ status.emergencyContact_relationship }}</span>
          <span>{{ status.emergencyContact_phone }}</span>
          <app-button
            [attachClassName]="['danger']"
            [buttonText]="'刪除'"
            (click)="deleteEmergencyContact(index)"
          />
        </div>
        <nz-modal
          [(nzVisible)]="isVisible_emergencyContact"
          nzTitle="【新增】緊急聯絡人"
          (nzOnCancel)="handleEmergencyContactModalCancel()"
          (nzOnOk)="handleEmergencyContactModalOk()"
          [nzOkText]="'新增'"
          [nzCancelText]="'取消'"
          nzWidth="250px"
        >
          <ng-container *nzModalContent>
            <label>
              緊急聯絡人：
              <app-input
                [inputWidth]="'175px'"
                [maxLength]="15"
                formControlName="emergencyContact_emergencyContact"
            /></label>
            <app-error-message
              [condition]="
                form.get('emergencyContact_emergencyContact')?.value === null ||
                form.get('emergencyContact_emergencyContact')?.value.length ===
                  0
              "
              [isCustom]="true"
              errorMessage="必填"
            />
            <label>
              關係：
              <app-input
                [inputWidth]="'175px'"
                [maxLength]="15"
                formControlName="emergencyContact_relationship"
              />
            </label>
            <app-error-message
              [condition]="
                form.get('emergencyContact_relationship')?.value === null ||
                form.get('emergencyContact_relationship')?.value.length === 0
              "
              [isCustom]="true"
              errorMessage="必填"
            />
            <label
              >連絡電話：
              <app-input
                [inputWidth]="'175px'"
                [maxLength]="11"
                [type]="'number'"
                formControlName="emergencyContact_phone"
              />
              <app-error-message
                [condition]="
                  form.get('emergencyContact_phone')?.value === null ||
                  form.get('emergencyContact_phone')?.value.length === 0
                "
                [isCustom]="true"
                errorMessage="必填"
              />
            </label>
          </ng-container>
        </nz-modal>
        <app-error-message
          [condition]="form.get('emergencyContact')?.value.length === 0"
          [isCustom]="true"
          errorKey="required"
          errorMessage="最少要新增一筆資料。"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">家系圖</div>
      <div>
        <app-button
          [buttonText]="'繪製'"
          [disabled]="hd100ListService.isView"
          [attachClassName]="
            hd100ListService.isView ? ['secondary'] : ['primary']
          "
          (click)="diagramService.openDiagramPage()"
        />
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          [nzFileList]="familyTree_fileList"
          (nzChange)="familyTree_handleChange($event)"
        >
          <app-button
            [disabled]="hd100ListService.isView"
            [attachClassName]="
              hd100ListService.isView ? ['secondary'] : ['success']
            "
            [buttonText]="'匯入'"
          />
        </nz-upload>
        <!-- <app-button [attachClassName]="['danger']" [buttonText]="'匯出'" /> -->
        <!-- !TODO -->
      </div>
      <div class="label">生態圖</div>
      <div>
        <app-button
          [buttonText]="'繪製'"
          [disabled]="hd100ListService.isView"
          [attachClassName]="
            hd100ListService.isView ? ['secondary'] : ['primary']
          "
          (click)="diagramService.openDiagramPage()"
        />
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          [nzFileList]="ecologicalMap_fileList"
          (nzChange)="ecologicalMap_handleChange($event)"
        >
          <app-button
            [disabled]="hd100ListService.isView"
            [attachClassName]="
              hd100ListService.isView ? ['secondary'] : ['success']
            "
            [buttonText]="'匯入'"
          />
        </nz-upload>
        <!-- <app-button [attachClassName]="['danger']" [buttonText]="'匯出'" /> -->
        <!-- !TODO -->
      </div>
    </div>
    <div>
      <div class="title">法務相關</div>
    </div>
    <div class="grid-columns-2">
      <div class="label">個資同意書</div>
      <div class="column-Message">
        <!-- !TODO:讓User可以下載範本 -->
        <app-button
          [attachClassName]="['danger']"
          [buttonText]="'範本下載'"
        ></app-button>
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_includeHasNotConfirmed"
          formControlName="personalDataConsentForm"
        />
        <app-error-message
          [control]="form.get('personalDataConsentForm')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      <div class="label">肖像權同意書</div>
      <div class="column-Message">
        <!-- !TODO:讓User可以下載範本 -->
        <app-button
          [attachClassName]="['danger']"
          [buttonText]="'範本下載'"
        ></app-button>
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_includeHasNotConfirmed"
          formControlName="imageRightsConsentForm"
        />
        <app-error-message
          [control]="form.get('imageRightsConsentForm')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div>
      <div class="title">服務人員</div>
    </div>
    <div class="grid-columns-2">
      <div class="label">主責人</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="30"
          formControlName="mainResponsiblePerson"
        />
        <app-error-message
          [control]="form.get('mainResponsiblePerson')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
      <div class="label">服務團隊</div>
      <div>
        <!-- !TODO -->
        <app-select
          [selectWidth]="'200px'"
          [options]="selectOptions_serviceTeam"
          formControlName="serviceTeam"
        />
      </div>
    </div>
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">服務志工</div>
      <div>
        <nz-checkbox-wrapper>
          <div formGroupName="serviceVolunteer">
            <span *ngFor="let option of serviceVolunteer">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <!-- !TODO -->
    <app-button
      *ngIf="!hd100ListService.isView"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      *ngIf="!caseInformationService.isChoiceCase"
      (click)="onPreviousPage()"
      [attachClassName]="['warning']"
      [buttonText]="'上一頁'"
    />
    <app-button
      *ngIf="!caseInformationService.isChoiceCase"
      (click)="onNextPage()"
      [attachClassName]="['success']"
      [buttonText]="'下一頁'"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('個案開案資料表')"
    />
  </div>
</form>
