<div class="grid-search-container border-bottom-0">
  <div class="grid-columns searchTitle">
    <div>角色名稱</div>
    <div>層級</div>
    <div>操作</div>
  </div>
  <div
    class="grid-columns tableBorder"
    *ngFor="let searchResult of searchResultData; let i = index"
    [ngClass]="{
      'even-row': i % 2 === 1,
      'odd-row': i % 2 !== 1
    }"
  >
    <div>
      {{ searchResult.roleName }}
    </div>
    <div>
      {{ searchResult.level }}
    </div>
    <!-- !TODO -->
    <div>
      <app-button [buttonText]="'檢視'" (click)="view()" />
      <app-button
        [buttonText]="'編輯'"
        [attachClassName]="['warning']"
        (click)="edit()"
      />
    </div>
  </div>
</div>
<div class="buttonArea">
  <app-button
    [attachClassName]="['danger']"
    [buttonText]="'關閉'"
    (click)="closeTab('角色權限資料維護清單')"
  />
</div>
