<app-case-information
  *ngIf="caseInformationService.isChoiceCase"
  [currentTab]="'個案開案評估表'"
/>
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="title">來源</div>
    <div class="grid-columns-2">
      <div class="label">個案來源</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'160px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_caseSource"
          (selectionChange)="onCaseSourceSelectChange()"
          formControlName="caseSource"
        />
        <app-error-message
          [control]="form.get('caseSource')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      <div class="label">填表日期</div>
      <div class="column-Message">
        <app-dayPicker formControlName="formFillingDate" />
        <app-error-message
          [control]="form.get('formFillingDate')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <!-- !TODO -->
    <div class="title">轉介單位資料</div>
    <div class="grid-columns-2">
      <div
        class="label"
        [ngClass]="{
          disableBackground: !isReferral
        }"
      >
        轉介單位
      </div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'175px'"
          [maxLength]="30"
          formControlName="referralUnit"
        />
        <app-error-message
          [control]="form.get('referralUnit')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
      <div
        class="label"
        [ngClass]="{
          disableBackground: !isReferral
        }"
      >
        聯絡人
      </div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="contactPerson"
        />
        <app-error-message
          [control]="form.get('contactPerson')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div
        class="label"
        [ngClass]="{
          disableBackground: !isReferral
        }"
      >
        手機
      </div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="4"
          [type]="'number'"
          formControlName="referralUnit_mobilePhone_firstFourDigits"
        />
        <span class="mr-5">-</span>
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="6"
          [type]="'number'"
          formControlName="referralUnit_mobilePhone_lastSixDigits"
        />
        <div>
          <app-error-message
            [control]="form.get('referralUnit_mobilePhone_firstFourDigits')"
            errorKey="invalidMobilePhone_firstFourDigits"
            errorMessage="手機為09開頭"
          />
          <app-error-message
            [control]="form.get('referralUnit_mobilePhone_lastSixDigits')"
            errorKey="invalidMobilePhone_lastSixDigits"
            errorMessage="手機後六碼格式錯誤"
          />
        </div>
      </div>
      <div
        class="label"
        [ngClass]="{
          disableBackground: !isReferral
        }"
      >
        電話
      </div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="4"
          [type]="'number'"
          formControlName="referralUnit_phone_areaCode"
        />
        <span class="mr-5">-</span>
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="referralUnit_phone_phoneNumber"
        />
        <div>
          <app-error-message
            [control]="form.get('referralUnit_phone_areaCode')"
            errorKey="invalidHomePhone_areaCode"
            errorMessage="區碼格式錯誤"
          />
          <app-error-message
            [control]="form.get('referralUnit_phone_phoneNumber')"
            errorKey="invalidHomePhone_phoneNumber"
            errorMessage="電話格式錯誤"
          />
        </div>
      </div>
    </div>
    <div class="grid-columns-2">
      <div
        class="label"
        [ngClass]="{
          disableBackground: !isReferral
        }"
      >
        傳真
      </div>
      <div>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="10"
          formControlName="referralUnit_fax"
        />
      </div>
      <div
        class="label"
        [ngClass]="{
          disableBackground: !isReferral
        }"
      >
        其他
      </div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'120px'"
          [maxLength]="30"
          formControlName="referralUnit_other"
        />
      </div>
    </div>
    <div>
      <div class="title">基本資料</div>
    </div>
    <div class="grid-columns-2">
      <div class="label">姓名</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="name"
        />
        <app-error-message
          [control]="form.get('name')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
      <div class="label">性別</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_gender"
          formControlName="gender"
        />
        <app-error-message
          [control]="form.get('gender')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">生日</div>
      <div class="column-Message">
        <app-dayPicker formControlName="dateOfBirth" />
        <app-error-message
          [control]="form.get('dateOfBirth')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      <div class="label">身份證字號</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="10"
          formControlName="idNumber"
        />
        <app-error-message
          [control]="form.get('idNumber')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
        <app-error-message
          [control]="form.get('idNumber')"
          errorKey="invalidTaiwanId"
          errorMessage="格式錯誤"
        />
      </div>
    </div>
    <div class="grid-columns-2">  
      <div class="label">手機</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="4"
          [type]="'number'"
          formControlName="mobilePhone_firstFourDigits"
        />
        <span class="mr-5">-</span>
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="6"
          [type]="'number'"
          formControlName="mobilePhone_lastSixDigits"
        />
        <div>
          <app-error-message
            [control]="form.get('mobilePhone_firstFourDigits')"
            errorKey="invalidMobilePhone_firstFourDigits"
            errorMessage="手機為09開頭"
          />
          <app-error-message
            [control]="form.get('mobilePhone_lastSixDigits')"
            errorKey="invalidMobilePhone_lastSixDigits"
            errorMessage="手機後六碼格式錯誤"
          />
        </div>
      </div>
      <div class="label">電話</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="4"
          [type]="'number'"
          formControlName="phone_areaCode"
        />
        <span class="mr-5">-</span>
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="phone_phoneNumber"
        />
        <div>
          <app-error-message
            [control]="form.get('phone_areaCode')"
            errorKey="invalidHomePhone_areaCode"
            errorMessage="區碼格式錯誤"
          />
          <app-error-message
            [control]="form.get('phone_phoneNumber')"
            errorKey="invalidHomePhone_phoneNumber"
            errorMessage="電話格式錯誤"
          />
        </div>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">通訊地址</div>
      <div class="column-Message">
        <app-taiwan-city-select formControlName="communicationAddress_select" />
        <app-input
          [inputWidth]="'300px'"
          [maxLength]="30"
          formControlName="communicationAddress"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">福利身分</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'100px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_welfareStatus"
          formControlName="welfareStatus"
        />
        <app-error-message
          [control]="form.get('welfareStatus')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">社會福利補助</div>
      <div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="socialWelfareAssistanceChange($event)"
        >
          <div nz-row>
            <div nz-col>
              <label
                nz-checkbox
                nzValue="1"
                [nzDisabled]="isDisableNone || hd100ListService.isView"
                >無</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                nzValue="2"
                [nzDisabled]="isDisableNoneOthers || hd100ListService.isView"
                >身心障礙</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                nzValue="3"
                [nzDisabled]="isDisableNoneOthers || hd100ListService.isView"
                >原住民</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                nzValue="4"
                [nzDisabled]="isDisableNoneOthers || hd100ListService.isView"
                >新住民</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                nzValue="5"
                [nzDisabled]="isDisableNoneOthers || hd100ListService.isView"
                >榮民</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                nzValue="6"
                [nzDisabled]="isDisableNoneOthers || hd100ListService.isView"
                >榮眷</label
              >
            </div>
            <div nz-col>
              <app-error-message
                [control]="form.get('socialWelfareAssistance')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必選"
              />
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="title">開案條件</div>
    <div class="grid-columns-2">
      <div class="label">是否為老年人口</div>
      <div>
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_trueOrFalse"
          formControlName="isOlderPerson"
        />
        <label>
          <app-error-message
            [control]="form.get('isOlderPerson')"
            [isTouched]="false"
            errorKey="required"
            errorMessage="必選"
          />
        </label>
        <app-error-message
          [isCustom]="true"
          [condition]="true"
          errorMessage="(一般65歲以上、原住民55歲以上、身心障礙者50歲以上)"
        />
      </div>
      <div class="label">是否符合弱勢群體</div>
      <div>
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_trueOrFalse"
          formControlName="isVulnerableGroup"
        />
        <label>
          <app-error-message
            [control]="form.get('isVulnerableGroup')"
            [isTouched]="false"
            errorKey="required"
            errorMessage="必選"
          />
        </label>
        <app-error-message
          [isCustom]="true"
          [condition]="true"
          errorMessage="(身分別：低收入戶、中低收入戶、中低老人、邊緣戶)"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">是否含有特殊議題</div>
      <div>
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_trueOrFalse"
          formControlName="isIncludesSpecialIssues"
        />
        <label>
          <app-error-message
            [control]="form.get('isIncludesSpecialIssues')"
            [isTouched]="false"
            errorKey="required"
            errorMessage="必選"
          />
        </label>
        <app-error-message
          [isCustom]="true"
          [condition]="true"
          errorMessage="(獨居(含白天獨居)、老老照顧、雙重老化)"
        />
      </div>
      <div class="label">是否符合重點關注議題</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_trueOrFalse"
          (ngModelChange)="handleSelectChange_isPriorityIssue($event)"
          formControlName="isPriorityIssue"
        />
        <app-error-message
          [control]="form.get('isPriorityIssue')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div
        class="label"
        [ngClass]="{
          disableBackground: !isOtherFieldsRequired
        }"
      >
        其他-自填指標
      </div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'200px'"
          [maxLength]="50"
          [placeholder]="'符合服務處重點關注議題'"
          formControlName="isSelfReportedMetric"
        />
        <app-error-message
          [control]="form.get('isSelfReportedMetric')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
      <div class="label">評估個案有需求且有風險</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'90px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_caseClassification"
          formControlName="caseClassification"
        />
        <app-error-message
          [control]="form.get('caseClassification')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">自述/轉介之服務需求</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'200px'"
          [maxLength]="50"
          formControlName="selfReferralServiceNeeds"
        />
        <app-error-message
          [control]="form.get('selfReferralServiceNeeds')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
      <div class="label">接受服務的意願</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'90px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_serviceAcceptanceByElderly"
          formControlName="isServiceAcceptanceByElderly"
        />
        <app-error-message
          [control]="form.get('isServiceAcceptanceByElderly')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">需求是否可滿足</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'90px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_elderlyNeedsSatisfactionStatus"
          formControlName="isElderlyNeedsSatisfactionStatus"
        />
        <app-error-message
          [control]="form.get('isElderlyNeedsSatisfactionStatus')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      <div class="label">是否位於弘道服務區域內</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_trueOrFalse"
          formControlName="isElderlyInServiceArea"
        />
        <app-error-message
          [control]="form.get('isElderlyInServiceArea')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2 border-bottom-0">
      <div class="label">開案評估結果：</div>
      <div
        class="column-Message"
        [ngClass]="{
          'result-isPassed': isCaseOpened === '開案',
          'result-isFailed': isCaseOpened === '不開案'
        }"
      >
        {{ isCaseOpened }}
      </div>
      <div class="label">不開案的原因：</div>
      <div class="column-Message result-isFailed">
        {{ caseNotOpenedResult }}
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <!-- !TODO -->
    <app-button
      *ngIf="!hd100ListService.isView"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      *ngIf="!caseInformationService.isChoiceCase"
      (click)="onNextPage()"
      [buttonText]="'下一頁'"
      [attachClassName]="['success']"
    />
    <app-button
      [buttonText]="'關閉'"
      [attachClassName]="['danger']"
      (click)="closeTab('個案開案評估表')"
    />
  </div>
</form>
