<div class="dayPicker-container">
  <input
    class="dayPicker-input"
    type="text"
    [placeholder]="disabled ? '禁用' : '請選擇日期'"
    nz-popover
    nzPopoverTitle="請選擇日期"
    [nzPopoverTrigger]="disabled ? null : 'click'"
    [nzPopoverContent]="contentTemplate"
    nzPopoverPlacement="bottom"
    [value]="
      selectedYear === 0 || selectedMonth === 0 || selectedDay === 0
        ? ''
        : selectedYear +
          '/' +
          formatDate(selectedMonth) +
          '/' +
          formatDate(selectedDay)
    "
    readonly
  />
  <span
    class="icon"
    nz-popover
    nzPopoverTitle="請選擇日期"
    [nzPopoverTrigger]="disabled ? null : 'click'"
    [nzPopoverContent]="contentTemplate"
    nzPopoverPlacement="bottom"
    >🗓️</span
  >
</div>
<ng-template #contentTemplate>
  <div>
    <!-- 選擇年份 -->
    <label
      >民國
      <select [(ngModel)]="selectedYear" (ngModelChange)="onYearChange()">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
      年
    </label>

    <!-- 選擇月份 -->
    <label>
      <select [(ngModel)]="selectedMonth" (ngModelChange)="onMonthChange()">
        <option *ngFor="let month of months" [value]="month">
          {{ month }}
        </option>
      </select>
      月
    </label>

    <!-- 選擇日期 -->
    <label>
      <select [(ngModel)]="selectedDay" (ngModelChange)="onDayChange()">
        <option *ngFor="let day of days" [value]="day">{{ day }}</option>
      </select>
      日
    </label>
  </div>
  <div class="bottom-container">
    <span class="bottom-button" (click)="onTodayClick()">Today</span>
    <span class="bottom-button" (click)="onClearClick()">Clear</span>
  </div>
</ng-template>
