.dayPicker-container {
  position: relative;
  display: inline-block;

  .dayPicker-input {
    width: 110px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #b6b6b6;
    cursor: pointer;
  }

  .icon {
    position: absolute;
    right: 5%;
    top: 10%;
    cursor: pointer;
  }
}

.bottom-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .bottom-button {
    color: #800080;
    cursor: pointer;

    &:hover {
      color: #b399ff;
    }
  }
}
