<app-volunteer-information
  *ngIf="volunteerInformationService.isChoiceVolunteer"
  [currentTab]="'志工基本資料'"
/>
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="title">志工入隊</div>
    <div class="grid-columns-1">
      <div class="label">志工編號</div>
      <div>11300200001</div>
    </div>
    <div class="grid-columns-2">
      <div class="label">填表日期</div>
      <div class="column-Message">
        <app-dayPicker formControlName="formDate" />
        <app-error-message
          [control]="form.get('formDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
      <div class="label">志工入隊日期</div>
      <div class="column-Message">
        <app-dayPicker formControlName="volunteerJoinDate" />
        <app-error-message
          [control]="form.get('volunteerJoinDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="title">資訊</div>
    <div class="grid-columns-1">
      <div class="label">服務單位</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'200px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_region"
          formControlName="serviceUnit_select1"
        />
        <app-error-message
          class="mr-5"
          [control]="form.get('serviceUnit_select1')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
        <app-select
          [selectWidth]="'200px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_region"
          formControlName="serviceUnit_select2"
        />
        <app-error-message
          class="mr-5"
          [control]="form.get('serviceUnit_select2')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
        <app-select
          [selectWidth]="'200px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_region"
          formControlName="serviceUnit_select3"
        />
        <app-error-message
          class="mr-5"
          [control]="form.get('serviceUnit_select3')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">單位名稱</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'115px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_unitName"
          formControlName="unitName"
        />
        <app-error-message
          [control]="form.get('unitName')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      <div class="label">主責人</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="30"
          formControlName="primaryContact"
        />
        <app-error-message
          [control]="form.get('primaryContact')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="title">基本資料</div>
    <div class="grid-columns-1">
      <div class="label">志工狀態</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'90px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_volunteerStatus"
          formControlName="volunteerStatus"
        />
        <app-error-message
          [control]="form.get('volunteerStatus')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">姓名</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="name"
        />
        <app-error-message
          [control]="form.get('name')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
      <div class="label">性別</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_gender"
          formControlName="gender"
        />
        <app-error-message
          [control]="form.get('gender')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">生日</div>
      <div class="column-Message">
        <app-dayPicker formControlName="birthDate" />
        <app-error-message
          [control]="form.get('birthDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
      <div class="label">身份證字號</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="10"
          formControlName="idNumber"
        />
        <app-error-message
          [control]="form.get('idNumber')"
          errorKey="invalidTaiwanId"
          errorMessage="格式錯誤"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">手機</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="4"
          [type]="'number'"
          formControlName="phonePrefix"
        />
        <span class="mr-5">-</span>
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="6"
          [type]="'number'"
          formControlName="phoneSuffix"
        />
        <app-error-message
          [isCustom]="true"
          [condition]="
            form.get('phonePrefix')?.value === '' ||
            form.get('phoneSuffix')?.value === ''
          "
          [isTouched]="false"
          errorMessage="必填"
        />
        <app-error-message
          [control]="form.get('phonePrefix')"
          errorKey="invalidMobilePhone_firstFourDigits"
          errorMessage="手機為09開頭"
        />
        <app-error-message
          [control]="form.get('phoneSuffix')"
          errorKey="invalidMobilePhone_lastSixDigits"
          errorMessage="手機後六碼格式錯誤"
        />
      </div>
      <div class="label">電話</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="4"
          [type]="'number'"
          formControlName="areaCode"
        />
        <span class="mr-5">-</span>
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="phoneNumber"
        />
        <app-error-message
          [control]="form.get('areaCode')"
          errorKey="invalidHomePhone_areaCode"
          errorMessage="區碼格式錯誤"
        />
        <app-error-message
          [control]="form.get('phoneNumber')"
          errorKey="invalidHomePhone_phoneNumber"
          errorMessage="電話格式錯誤"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">LINE帳號</div>
      <div>
        <app-input
          [inputWidth]="'120px'"
          [maxLength]="30"
          formControlName="lineId"
        />
      </div>
      <div class="label">E-mail</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'200px'"
          [maxLength]="30"
          formControlName="email"
        />
        <app-error-message
          [control]="form.get('email')"
          errorKey="email"
          errorMessage="mail格式錯誤"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">飲食習慣</div>
      <div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="eatingHabitsChange($event)"
        >
          <div nz-row>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="1"
                >葷</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="2"
                >全素</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="3"
                >蛋奶素</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="4"
                >鍋邊素</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="5"
                >初一十五素</label
              >
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">學歷</div>
      <div>
        <app-select
          [selectWidth]="'120px'"
          [options]="selectOptions_education"
          formControlName="education"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">語言</div>
      <div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="languagesChange($event)"
        >
          <div nz-row>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="1"
                >國語</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="2"
                >台語</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="3"
                >客家語</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="4"
                >英語</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="5"
                >日語</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="6"
                >手語</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="7"
                >其他</label
              >
              <label>
                <app-input
                  [inputWidth]="'100px'"
                  [maxLength]="30"
                  formControlName="languages_other"
                />
              </label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">通訊地址</div>
      <div class="column-Message">
        <app-taiwan-city-select formControlName="address_select" />
        <app-input
          [inputWidth]="'300px'"
          [maxLength]="30"
          formControlName="address"
        />
        <app-error-message
          [control]="form.get('address_select')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
        <app-error-message
          [control]="form.get('address')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">宗教信仰</div>
      <div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="religiousAffiliationChange($event)"
        >
          <div nz-row>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="
                  isDisableReligiousAffiliationNone || hd200ListService.isView
                "
                nzValue="1"
                >無</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="
                  isDisableReligiousAffiliationOthers || hd200ListService.isView
                "
                nzValue="2"
                >道教</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="
                  isDisableReligiousAffiliationOthers || hd200ListService.isView
                "
                nzValue="3"
                >佛教</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="
                  isDisableReligiousAffiliationOthers || hd200ListService.isView
                "
                nzValue="4"
                >基督教</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="
                  isDisableReligiousAffiliationOthers || hd200ListService.isView
                "
                nzValue="5"
                >天主教</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="
                  isDisableReligiousAffiliationOthers || hd200ListService.isView
                "
                nzValue="6"
                >一貫道</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="
                  isDisableReligiousAffiliationOthers || hd200ListService.isView
                "
                nzValue="7"
                >回教</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="
                  isDisableReligiousAffiliationOthers || hd200ListService.isView
                "
                nzValue="8"
                >民間信仰</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="
                  isDisableReligiousAffiliationOthers || hd200ListService.isView
                "
                nzValue="9"
                >其他
              </label>
              <label>
                <app-input
                  [inputWidth]="'100px'"
                  [maxLength]="30"
                  formControlName="religiousAffiliation_other"
              /></label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">婚姻狀況</div>
      <div class="column-Message">
        <app-select
          (ngModelChange)="maritalStatusChange($event)"
          [selectWidth]="'70px'"
          [options]="selectOptions_maritalStatus"
          formControlName="maritalStatus"
        />
        @if(form.get('maritalStatus')?.value === '其他'){
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="30"
          formControlName="maritalStatus_other"
        />
        }
      </div>
      <div class="label">是否為原住民</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_trueOrFalse"
          formControlName="isIndigenous"
        />
        <app-error-message
          [control]="form.get('isIndigenous')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">是否為新住民</div>
      <div>
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_trueOrFalse"
          formControlName="isNewResident"
        />
      </div>
      <div class="label">是否為外國籍</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_trueOrFalse"
          formControlName="isForeignNational"
        />
        <app-error-message
          [control]="form.get('isForeignNational')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">是否加入救災志工</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_trueOrFalse"
          formControlName="isDisasterReliefVolunteer"
        />
        <app-error-message
          [control]="form.get('isDisasterReliefVolunteer')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">專長</div>
      <div>
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_specialty"
          formControlName="specialty"
        />
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_specialty"
          formControlName="specialty"
        />
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_specialty"
          formControlName="specialty"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">證照</div>
      <div>
        <app-select
          [selectWidth]="'180px'"
          [options]="selectOptions_certification"
          formControlName="certification"
        />
        <app-select
          [selectWidth]="'180px'"
          [options]="selectOptions_certification"
          formControlName="certification"
        />
        <app-select
          [selectWidth]="'180px'"
          [options]="selectOptions_certification"
          formControlName="certification"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">志工來源</div>
      <div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="volunteerSourceChange($event)"
        >
          <div nz-row>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="1"
                >親友</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="2"
                >電視、廣播等傳播媒體</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="3"
                >海報、宣傳簡介</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="4"
                >本會志工介紹</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="5"
                >其他</label
              >
              <label>
                <app-input
                  [inputWidth]="'100px'"
                  [maxLength]="30"
                  formControlName="volunteerSource_other"
                />
              </label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">志工職稱</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'100px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_volunteerTitle"
          formControlName="volunteerTitle"
        />
        <app-error-message
          [control]="form.get('volunteerTitle')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">希望服務區域</div>
      <div>
        <app-button
          [buttonText]="'添加'"
          [disabled]="hd200ListService.isView"
          [attachClassName]="
            hd200ListService.isView ? ['secondary'] : ['success']
          "
          (click)="showModal()"
        />
        <span>{{ currentSelectedDesiredServiceArea }}</span>
        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="希望服務區域"
          nzCancelText="取消"
          (nzOnCancel)="handleCancel()"
          nzOkText="確定"
          (nzOnOk)="handleOk()"
        >
          <ng-container *nzModalContent>
            <app-taiwan-city-select-radio
              formControlName="desiredServiceArea"
            />
          </ng-container>
        </nz-modal>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">服務交通工具</div>
      <div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="serviceTransportationChange($event)"
        >
          <div nz-row>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="1"
                >汽車</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="2"
                >機車</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="3"
                >腳踏車</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="4"
                >大眾運輸</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="5"
                >走路</label
              >
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">擁有交通工具</div>
      <div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="hasTransportationChange($event)"
        >
          <div nz-row>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="1"
                >汽車</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="2"
                >機車</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="3"
                >腳踏車</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="4"
                >廂型車</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="5"
                >卡車</label
              >
            </div>
            <div nz-col>
              <label
                nz-checkbox
                [nzDisabled]="hd200ListService.isView"
                nzValue="6"
                >遊覽車</label
              >
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="title">識別</div>
    <div class="grid-columns-2">
      <div class="label">是否曾擔任志工</div>
      <div>
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_trueOrFalse"
          formControlName="hasVolunteerExperience"
        />
      </div>
      <div class="label">志願服務紀錄冊</div>
      <div>
        <app-select
          [selectWidth]="'80px'"
          [options]="selectOptions_volunteerServiceRecord"
          formControlName="volunteerServiceRecord"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">服務紀錄冊上傳</div>
      <div>
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          [nzFileList]="volunteerServiceRecord_fileList"
          (nzChange)="volunteerServiceRecord_handleChange($event)"
        >
          <app-button
            [disabled]="hd200ListService.isView"
            [attachClassName]="
              hd200ListService.isView ? ['secondary'] : ['success']
            "
            [buttonText]="'上傳'"
          />
        </nz-upload>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">榮譽卡</div>
      <div>
        <app-select
          (ngModelChange)="handleHonorCard($event)"
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_honorCard"
          formControlName="honorCard"
        />
        @if(form.get('honorCard')?.value === '有'){
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_honorCard_status"
          formControlName="honorCard_status"
        />
        <span
          >發給單位：<app-taiwan-city-select
            [onlyCity]="true"
            formControlName="honorCard_issuedToCountyCity"
        /></span>
        <span>
          編號：<app-input
            [inputWidth]="'120px'"
            [maxLength]="20"
            formControlName="honorCard_serialNumber"
          />
        </span>
        <div class="my-3">
          發卡日期：<app-dayPicker formControlName="honorCard_issueDate" />
          <span>
            有效日期：<app-dayPicker formControlName="honorCard_expiryDate" />
          </span>
        </div>
        <div>
          年資起訖：<app-dayPicker formControlName="honorCard_servicePeriod" />
          <span>
            申請日期：<app-dayPicker
              formControlName="honorCard_applicationDate"
            />
          </span>
        </div>
        }
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">是否領取弘道志願服務證</div>
      <app-select
        [selectWidth]="'70px'"
        [defaultPlaceHolder]="false"
        [options]="selectOptions_trueOrFalse"
        formControlName="receivedHongdaoVolunteerCertificate"
      />
      <div class="label">是否領取弘道志工背心</div>
      <app-select
        [selectWidth]="'70px'"
        [defaultPlaceHolder]="false"
        [options]="selectOptions_trueOrFalse"
        formControlName="receivedHongdaoVolunteerVest"
      />
    </div>
    <div class="grid-columns-1">
      <div class="label">是否領取弘道志工制服</div>
      <div>
        <app-select
          (ngModelChange)="handleReceivedHongdaoVolunteerUniform($event)"
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_trueOrFalse"
          formControlName="receivedHongdaoVolunteerUniform"
        />
        @if(form.get('receivedHongdaoVolunteerUniform')?.value === '是'){
        <span
          >數量：<app-input
            [inputWidth]="'70px'"
            [maxLength]="3"
            [type]="'number'"
            formControlName="receivedHongdaoVolunteerUniform_quantity"
          />
          <span
            >尺寸：
            <app-select
              [selectWidth]="'70px'"
              [defaultPlaceHolder]="false"
              [options]="selectOptions_receivedHongdaoVolunteerUniform_size"
              formControlName="receivedHongdaoVolunteerUniform_size"
          /></span>
        </span>
        }
      </div>
    </div>
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">志工權利義務告知聲明書</div>
      <div class="colunns-Message">
        <!-- <app-button [buttonIcon]="'upload'" [buttonText]="'聲明書上傳'" /> -->
        <app-select
          [selectWidth]="'90px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_volunteerRightsAndDutiesDeclaration"
          formControlName="volunteerRightsAndDutiesDeclaration"
        />
        <app-button [attachClassName]="['danger']" [buttonText]="'範本下載'" />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <!-- !TODO -->
    <app-button
      *ngIf="hd200ListService.isCreate"
      [buttonText]="'新增'"
      (click)="create()"
    />
    <app-button
      *ngIf="hd200ListService.isEdit"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      *ngIf="hd200ListService.isEdit"
      [attachClassName]="['warning']"
      [buttonText]="'刪除'"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('志工基本資料')"
    />
  </div>
</form>
