<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-1">
      <div class="label">任職單位</div>
      <div>
        <app-select
          [selectWidth]="'160px'"
          [options]="selectOptions_department"
          formControlName="department"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">任職組別</div>
      <div>
        <app-select
          [selectWidth]="'50%'"
          [options]="selectOptions_team"
          formControlName="team"
        />
      </div>
    </div>
    <div class="grid-columns-2 border-bottom-0">
      <div class="label">任職區域</div>
      <div>
        <app-select
          [selectWidth]="'200px'"
          [options]="selectOptions_region"
          formControlName="region"
        />
      </div>
      <div class="label">代碼</div>
      <div>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="5"
          formControlName="code"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button
      *ngIf="hd610ListService.isEdit"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      *ngIf="hd610ListService.isCreate"
      [buttonText]="'新增'"
      [attachClassName]="['success']"
      (click)="create()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('組織單位資料維護')"
    />
  </div>
</form>
