<app-case-information [currentTab]="'個案複評表清單'" />
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-2 border-bottom-0">
      <div class="label">查詢年份區間</div>
      <div class="column-Message">
        <app-dayPicker
          (ngModelChange)="onQueryDateChange($event)"
          [startRange]="30"
          [endRange]="0"
          formControlName="queryDate_start"
        />
        <span class="mx-2">-</span>
        <app-dayPicker
          (ngModelChange)="onQueryDateChange($event)"
          [startRange]="30"
          [endRange]="0"
          formControlName="queryDate_end"
        />
        <app-error-message
          [isCustom]="true"
          [condition]="checkDateRange"
          [errorMessage]="'格式錯誤'"
        />
      </div>
      <div class="label">下次複評日</div>
      <div>
        <div>113/01/01</div>
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button [buttonText]="'搜尋'" (click)="search()" />
    <app-button
      [attachClassName]="['success']"
      [buttonText]="'新增'"
      (click)="create()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('個案複評表清單')"
    />
  </div>
</form>
<div class="mt"></div>
<div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
<div class="mt"></div>
<div class="grid-search-container">
  <div class="grid-columns searchTitle">
    <div>開案日期</div>
    <div>風險等級</div>
    <div>簽核狀態</div>
    <div>操作</div>
  </div>
  <div
    class="grid-columns tabelBorder"
    *ngFor="let searchResult of newSearchResultData; let i = index"
    [ngClass]="{
      'even-row': i % 2 === 1,
      'odd-row': i % 2 !== 1
    }"
  >
    <div>
      {{ searchResult.caseOpeningDate }}
    </div>
    <div>
      {{ searchResult.caseClassification }}
    </div>
    <div>
      {{ searchResult.approvalStatus }}
    </div>
    <!-- !TODO -->
    <div>
      <app-button [buttonText]="'檢視'" (click)="view()" />
      <app-button
        [buttonText]="'編輯'"
        [attachClassName]="['warning']"
        (click)="edit()"
      />
    </div>
  </div>
</div>
<div class="mt-10"></div>
<nz-pagination
  [nzPageIndex]="currentPage"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzTotal]="searchResultData.length"
/>
