<app-case-information [currentTab]="'例行訪視表清單'" />
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">查詢區間</div>
      <div>
        <app-dayPicker formControlName="queryStartTime" /> 到
        <app-dayPicker formControlName="queryEndTime" />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button
      [buttonIcon]="'search'"
      [buttonText]="'搜尋'"
      (click)="search()"
    />
    <app-button [buttonIcon]="'add'" [buttonText]="'新增'" (click)="create()" />
    <app-button
      [buttonIcon]="'close'"
      [buttonText]="'關閉'"
      (click)="closeTab('例行訪視表清單')"
    />
  </div>
</form>

<div class="mt"></div>
<div class="hd100-list-search">
  <div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
  <form>
    <div class="mt"></div>
    <div class="grid-search-container">
      <div class="grid-columns searchTitle">
        <div>開案日期</div>
        <div>風險等級</div>
        <div>訪視人員職稱</div>
        <div>志工訪視區</div>
        <div>操作</div>
      </div>
      <div
        class="grid-columns tableBorder"
        *ngFor="let searchResult of newSearchResultData; let i = index"
        [ngClass]="{
          'even-row': i % 2 === 1,
          'odd-row': i % 2 !== 1
        }"
      >
        <div>
          {{ searchResult.caseOpeningDate }}
        </div>
        <div>
          {{ searchResult.caseClassification }}
        </div>
        <div>
          {{ searchResult.responsiblePersonJobTitle }}
        </div>
        <div>
          {{ searchResult.visitTime }}
          {{ searchResult.responsiblePerson }}
        </div>
        <!-- !TODO -->
        <div>
          <app-button [buttonText]="'檢視'" (click)="view()"/>
          <app-button [buttonText]="'編輯'" (click)="edit()" />
        </div>
      </div>
    </div>
  </form>
  <div class="mt-10"></div>
  <nz-pagination
    [nzPageIndex]="currentPage"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="onPageIndexChange($event)"
    [nzTotal]="searchResultData.length"
  />
</div>
