.th-cell {
  width: 5%;
}

.td-cell {
  width: 25%;
}

.td-cell2 {
  width: 10%;
}

.td-cell3 {
  width: 12%;
}

.custom-header2 {
  background: linear-gradient(to bottom, #d5dcbe, #b5ca7f);
}

.message {
  background: #f2ddf1 url(../../../../../assets/img/information.png) 8px 50%
    no-repeat;
  border: 1px solid #fa58f4;
  color: #b4055f;
  margin: 10px 0 5px 0;
  padding: 5px 5px 5px 30px;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .bordered-table tr {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #cccccc;
    margin-bottom: 8px;
  }

  .bordered-table th,
  .bordered-table td {
    flex: 1 1 100%;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
  }

  .bordered-table th {
    background-color: #e6f0fb;
  }
}
