<app-case-information [currentTab]="'生活品質問卷清單'" />
<h1 class="inner-title">1-6 生活品質問卷清單</h1>
<div class="mt"></div>
<div class="table-container">
  <ng-container>
    <form [formGroup]="form">
      <nz-table class="bordered-table">
        <tr>
          <th class="th-cell custom-header bold-text" nzAlign="center">
            訪視日期
          </th>
          <td class="td-cell custom-cell">
            <app-dayPicker formControlName="visitDate" />
          </td>
        </tr>
        <tr>
          <th colspan="4" class="custom-header">
            <app-button
              [buttonIcon]="'search'"
              [buttonText]="'搜尋'"
              (click)="search()"
            />
            <app-button
              [buttonIcon]="'add'"
              [buttonText]="'新增'"
              (click)="create()"
            />
            <app-button
              [buttonIcon]="'close'"
              [buttonText]="'關閉'"
              (click)="closeTab('生活品質問卷清單')"
            />
          </th>
        </tr>
      </nz-table>
    </form>
  </ng-container>
</div>
<div class="mt"></div>
<div class="hd100-list-search">
  <div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
  <form>
    <div class="mt"></div>
    <div class="table-container">
      <ng-container>
        <table class="bordered-table">
          <thead>
            <tr class="custom-header2 bold-text">
              <th class="th-cell" nzAlign="center">訪視日期</th>
              <th class="th-cell" nzAlign="center">填寫人</th>
              <th class="th-cell" nzAlign="center">生理面分數</th>
              <th class="th-cell" nzAlign="center">獨立面分數</th>
              <th class="th-cell" nzAlign="center">心理面分數</th>
              <th class="th-cell" nzAlign="center">社會面分數</th>
              <th class="th-cell" nzAlign="center">環境面分數</th>
              <th class="th-cell" nzAlign="center">整體面分數</th>
              <th class="th-cell" nzAlign="center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let searchResult of newSearchResultData; let i = index"
              [ngClass]="{
                'even-row': i % 2 === 1,
                'custom-cell': i % 2 !== 1
              }"
            >
              <td class="td-cell2" nzAlign="center">
                {{ searchResult.visitDate }}
              </td>
              <td class="td-cell2" nzAlign="center">
                {{ searchResult.filler }}
              </td>
              <td class="td-cell2" nzAlign="center">
                {{ searchResult.physiologyScore }}
              </td>
              <td class="td-cell2" nzAlign="center">
                {{ searchResult.independentScore }}
              </td>
              <td class="td-cell2" nzAlign="center">
                {{ searchResult.psychologicalScore }}
              </td>
              <td class="td-cell2" nzAlign="center">
                {{ searchResult.socialScore }}
              </td>
              <td class="td-cell2" nzAlign="center">
                {{ searchResult.environmentScore }}
              </td>
              <td class="td-cell2" nzAlign="center">
                {{ searchResult.overallScore }}
              </td>
              <!-- !TODO -->
              <td class="td-cell3" nzAlign="center">
                <app-button [buttonText]="'編輯'" (click)="edit()" />
                <app-button [buttonIcon]="'delete'" [buttonText]="'刪除'" />
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </form>
  <div class="mt-10"></div>
  <nz-pagination
    [nzPageIndex]="currentPage"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="onPageIndexChange($event)"
    [nzTotal]="searchResultData.length"
  />
</div>
