<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-1">
      <div class="label">角色名稱</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="roleName"
        />
        <app-error-message
        [control]="form.get('roleName')"
        [isTouched]="false"
        errorKey="required"
        errorMessage="必填"
      />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">功能權限</div>
      <div>
        <div class="bold-text">
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="handleCaseManagementChange($event)"
          >
            <div nz-row>
              <div nz-col class="bold-text">個案管理：</div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="caseManagement_add"
                  nzValue="1"
                  >新增</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="caseManagement_view"
                  nzValue="2"
                  >檢視</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="caseManagement_edit"
                  nzValue="3"
                  >編輯</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="caseManagement_print"
                  nzValue="4"
                  >列印</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="caseManagement_delete"
                  nzValue="5"
                  >刪除</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="handleVolunteerManagementChange($event)"
          >
            <div nz-row>
              <div nz-col class="bold-text">志工管理：</div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="volunteerManagement_add"
                  nzValue="1"
                  >新增</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="volunteerManagement_view"
                  nzValue="2"
                  >檢視</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="volunteerManagement_edit"
                  nzValue="3"
                  >編輯</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="volunteerManagement_print"
                  nzValue="4"
                  >列印</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="volunteerManagement_delete"
                  nzValue="5"
                  >刪除</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="handleReportSectionChange($event)"
          >
            <div nz-row>
              <div nz-col class="bold-text">報表專區：</div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="reportSection_add"
                  nzValue="1"
                  >新增</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="reportSection_view"
                  nzValue="2"
                  >檢視</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="reportSection_edit"
                  nzValue="3"
                  >編輯</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="reportSection_print"
                  nzValue="4"
                  >列印</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="reportSection_delete"
                  nzValue="5"
                  >刪除</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="handleSignatureSectionChange($event)"
          >
            <div nz-row>
              <div nz-col class="bold-text">簽核專區：</div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="signatureSection_add"
                  nzValue="1"
                  >新增</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="signatureSection_view"
                  nzValue="2"
                  >檢視</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="signatureSection_edit"
                  nzValue="3"
                  >編輯</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="signatureSection_print"
                  nzValue="4"
                  >列印</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="signatureSection_delete"
                  nzValue="5"
                  >刪除</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="handleOutcomeStatisticsChange($event)"
          >
            <div nz-row>
              <div nz-col class="bold-text">成果統計專區：</div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="outcomeStatistics_add"
                  nzValue="1"
                  >新增</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="outcomeStatistics_view"
                  nzValue="2"
                  >檢視</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="outcomeStatistics_edit"
                  nzValue="3"
                  >編輯</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="outcomeStatistics_print"
                  nzValue="4"
                  >列印</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="outcomeStatistics_delete"
                  nzValue="5"
                  >刪除</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="handleSystemAdminPermissionsChange($event)"
          >
            <div nz-row>
              <div nz-col class="bold-text">系統管理權限：</div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="systemAdminPermissions_add"
                  nzValue="1"
                  >新增</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="systemAdminPermissions_view"
                  nzValue="2"
                  >檢視</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="systemAdminPermissions_edit"
                  nzValue="3"
                  >編輯</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="systemAdminPermissions_print"
                  nzValue="4"
                  >列印</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd620ListService.isView"
                  formControlName="systemAdminPermissions_delete"
                  nzValue="5"
                  >刪除</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button
      *ngIf="hd620ListService.isEdit"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('角色資料權限維護')"
    />
  </div>
</form>
