<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-1">
      <div class="label">角色名稱</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="roleName"
        />
        <app-error-message
          [control]="form.get('roleName')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">功能權限</div>
      <div>
        <div class="bold-text">
          個案管理：
          <nz-checkbox-wrapper
            (nzOnChange)="functionPermission_caseManagementChange($event)"
          >
            <div formGroupName="functionPermission_caseManagement">
              <span *ngFor="let option of functionPermission_caseManagement">
                <label
                  [nzDisabled]="option.disabled"
                  nz-checkbox
                  [formControlName]="option.value"
                  [nzValue]="option.value"
                >
                  {{ option.label }}
                </label>
              </span>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          志工管理：
          <nz-checkbox-wrapper
            (nzOnChange)="functionPermission_volunteerManagementChange($event)"
          >
            <div formGroupName="functionPermission_volunteerManagement">
              <span
                *ngFor="let option of functionPermission_volunteerManagement"
              >
                <label
                  [nzDisabled]="option.disabled"
                  nz-checkbox
                  [formControlName]="option.value"
                  [nzValue]="option.value"
                >
                  {{ option.label }}
                </label>
              </span>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          報表專區：
          <nz-checkbox-wrapper
            (nzOnChange)="functionPermission_reportSectionChange($event)"
          >
            <div formGroupName="functionPermission_reportSection">
              <span
                *ngFor="let option of functionPermission_reportSection"
              >
                <label
                  [nzDisabled]="option.disabled"
                  nz-checkbox
                  [formControlName]="option.value"
                  [nzValue]="option.value"
                >
                  {{ option.label }}
                </label>
              </span>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          簽核專區：
          <nz-checkbox-wrapper
            (nzOnChange)="functionPermission_signatureSectionChange($event)"
          >
            <div formGroupName="functionPermission_signatureSection">
              <span
                *ngFor="let option of functionPermission_signatureSection"
              >
                <label
                  [nzDisabled]="option.disabled"
                  nz-checkbox
                  [formControlName]="option.value"
                  [nzValue]="option.value"
                >
                  {{ option.label }}
                </label>
              </span>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          成果統計專區：
          <nz-checkbox-wrapper
            (nzOnChange)="functionPermission_outcomeStatisticsChange($event)"
          >
            <div formGroupName="functionPermission_outcomeStatistics">
              <span
                *ngFor="let option of functionPermission_outcomeStatistics"
              >
                <label
                  [nzDisabled]="option.disabled"
                  nz-checkbox
                  [formControlName]="option.value"
                  [nzValue]="option.value"
                >
                  {{ option.label }}
                </label>
              </span>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          系統管理權限：
          <nz-checkbox-wrapper
            (nzOnChange)="functionPermission_systemAdminPermissionsChange($event)"
          >
            <div formGroupName="functionPermission_systemAdminPermissions">
              <span
                *ngFor="let option of functionPermission_systemAdminPermissions"
              >
                <label
                  [nzDisabled]="option.disabled"
                  nz-checkbox
                  [formControlName]="option.value"
                  [nzValue]="option.value"
                >
                  {{ option.label }}
                </label>
              </span>
            </div>
          </nz-checkbox-wrapper>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button
      *ngIf="hd620ListService.isEdit"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab()"
    />
  </div>
</form>
