<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-1">
      <div class="label">表單上傳</div>
      <div>
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          [nzFileList]="form_fileList"
          (nzChange)="form_handleChange($event)"
        >
          <app-button [attachClassName]="['success']" [buttonText]="'上傳'" />
        </nz-upload>
      </div>
    </div>
    <!-- !TODO -->
    <div class="grid-columns-1">
      <div class="label">匯入結果</div>
      <div>已匯入</div>
    </div>
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">資料預覽</div>
      <div></div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button [buttonText]="'儲存'" (click)="save()" />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('表單匯入_志工考核表')"
    />
  </div>
</form>
