::ng-deep .fc-day-sat,
::ng-deep .fc-day-sun {
  background-color: rgb(255, 242, 232) !important;
}

::ng-deep .fc-daygrid-day-number,
::ng-deep .fc-col-header-cell-cushion {
  color: rgb(255, 77, 0);
}

::ng-deep {
  .fc-event-title,
  .fc-event-time {
    color: rgb(255, 77, 0) !important;
  }

  .fc-sticky.fc-event-title {
    color: black !important;
  }
}

::ng-deep {
  .fc-daygrid-day-number:hover,
  .fc-col-header-cell-cushion:hover {
    color: rgb(158, 51, 1);
  }
}

.buttons {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  gap: 2px; /* 按钮之间的间距 */
}

.buttons button {
  padding: 1px 2px;
  font-size: 14px;
}

.mt-10 {
  margin-top: -36px;
}
