<app-volunteer-information
  *ngIf="volunteerInformationService.isChoiceVolunteer"
  [currentTab]="'評核表'"
/>
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-2 border-bottom-0">
      <div class="label">填寫日期區間</div>
      <div>
        <app-dayPicker formControlName="submissionDateRange_start" />
        <span class="mx-2">-</span>
        <app-dayPicker formControlName="submissionDateRange_end" />
      </div>
      <div class="label">評核結果</div>
      <div>
        <app-select
          [selectWidth]="'100px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_evaluationResult"
          formControlName="evaluationResult"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button [buttonText]="'搜尋'" (click)="search()" />
    <app-button
      [attachClassName]="['success']"
      [buttonText]="'新增'"
      (click)="create()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('評核表')"
    />
  </div>
</form>
<div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
<form>
  <div class="mt"></div>
  <div class="grid-search-container">
    <div class="grid-columns searchTitle">
      <div>考核日期</div>
      <div>志工自評分數</div>
      <div>督導計分</div>
      <div>評核結果</div>
      <div>為期改善是否通過</div>
      <div>操作</div>
    </div>
    <div
      class="grid-columns tableBorder"
      *ngFor="let searchResult of newSearchResultData; let i = index"
      [ngClass]="{
        'even-row': i % 2 === 1,
        'odd-row': i % 2 !== 1
      }"
    >
      <div>
        {{ searchResult.assessmentDate }}
      </div>
      <div>
        {{ searchResult.volunteerSelfRating }}
      </div>
      <div>
        {{ searchResult.supervisorScore }}
      </div>
      <div>
        {{ searchResult.evaluationResult }}
      </div>
      <div>
        {{ searchResult.improvementPassed }}
      </div>
      <!-- !TODO -->
      <div>
        <app-button [buttonText]="'檢視'" (click)="view()" />
        <app-button
          [buttonText]="'編輯'"
          [attachClassName]="['warning']"
          (click)="edit()"
        />
        <app-button [buttonText]="'刪除'" [attachClassName]="['danger']" />
      </div>
    </div>
  </div>
</form>
<div class="mt-10"></div>
<nz-pagination
  [nzPageIndex]="currentPage"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzTotal]="searchResultData.length"
/>
