<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-1">
      <div class="label">通報單上傳</div>
      <div>
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          [nzFileList]="form_fileList"
          (nzChange)="form_handleChange($event)"
        >
          <app-button [attachClassName]="['success']" [buttonText]="'上傳'" />
        </nz-upload>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">匯入結果</div>
      <div>成功 3</div>
    </div>

  <table class="case-list">
    <thead>
      <tr>
        <th>案件編號</th>
        <th>姓名</th>
        <th>身分證</th>
        <th>通報人</th>
        <th>通報單位</th>
        <th>通報時間</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let case of form_caseList; let i = index">
        <td>{{ case.caseId }}</td>
        <td>{{ case.name }}</td>
        <td>{{ case.idCard }}</td>
        <td>{{ case.reporter }}</td>
        <td>{{ case.unit }}</td>
        <td>{{ case.reportTime }}</td>
        <td>
          <button 
            nz-button 
            nzType="primary" 
            [disabled]="case.reported" 
            (click)="reportCase(i)">
            {{ case.reported ? '已通報' : '通報' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</form>
