<span>
  <div class="grid-column-3 mb-2">
    <div class="caseTitle">姓名</div>
    <div class="caseContent">{{ caseInformationService.caseData[0].name }}</div>
    <div class="caseTitle">身分證字號</div>
    <div class="caseContent">
      {{ caseInformationService.caseData[0].idNumber }}
    </div>
    <div class="caseTitle">開案日期</div>
    <div class="caseContent">
      {{ caseInformationService.caseData[0].caseOpeningDate }}
    </div>
  </div>
  <div class="divCenter">
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd110/view') ||
          router.url.startsWith('/hd110/edit')
      }"
      (click)="goToHd110()"
      >開案評估</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd120/view') ||
          router.url.startsWith('/hd120/edit')
      }"
      (click)="goToHd120()"
      >基本資料</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd130/view') ||
          router.url.startsWith('/hd130/edit')
      }"
      (click)="goToHd130()"
      >初評表</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd140') ||
          router.url.startsWith('/hd140/create') ||
          router.url.startsWith('/hd140/view') ||
          router.url.startsWith('/hd140/edit')
      }"
      (click)="goToHd140()"
      >例行訪視紀錄</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd150') ||
          router.url.startsWith('/hd150/create') ||
          router.url.startsWith('/hd150/view') ||
          router.url.startsWith('/hd150/edit')
      }"
      (click)="goToHd150()"
      >複評表</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd160') ||
          router.url.startsWith('/hd160/create') ||
          router.url.startsWith('/hd160/view') ||
          router.url.startsWith('/hd160/edit')
      }"
      (click)="goToHd160()"
      >生活品質問卷</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd100/view') ||
          router.url.startsWith('/hd100/edit')
      }"
      (click)="goToHd100Form()"
      >結案表</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd170') ||
          router.url.startsWith('/hd170/create') ||
          router.url.startsWith('/hd170/view') ||
          router.url.startsWith('/hd170/edit')
      }"
      (click)="goToHd170()"
      >轉介單</span
    >
  </div>
</span>
