<div class="changePassword-page">
  <div class="changePassword-container">
    <h2>修改密碼</h2>
    <form [formGroup]="form">
      <div class="form-group">
        <label
          >電子信箱：
          <app-input
            [inputWidth]="'300px'"
            [maxLength]="30"
            formControlName="email"
          />
        </label>
      </div>
      <div class="form-group">
        <label
          >新密碼輸入：
          <app-input
            [inputWidth]="'300px'"
            [maxLength]="30"
            [type]="'password'"
            formControlName="password"
          />
        </label>
      </div>
      <div class="form-group">
        <label
          >再次輸入密碼：
          <app-input
            [inputWidth]="'300px'"
            [maxLength]="30"
            [type]="'password'"
            formControlName="enterAgainPassword"
          />
        </label>
        <app-error-message
          [isCustom]="true"
          [condition]="
            form.get('password')?.value !==
            form.get('enterAgainPassword')?.value
              ? true
              : false
          "
          [errorMessage]="'兩次輸入的密碼不相同'"
        />
        <a href="/login" class="backLoginPage">返回登入頁面</a>
      </div>
      <button class="changePassword-button" (click)="changePassword()">
        修改密碼
      </button>
    </form>
  </div>
  <div class="space"></div>
</div>
