<div class="changePassword-page">
  <div class="changePassword-container">
    <h2>重設密碼</h2>
    <form [formGroup]="form">
      <div class="form-group">
        <label
          >電子信箱：
          <app-input
            [inputWidth]="'300px'"
            [maxLength]="30"
            formControlName="email"
          />
        </label>
        <a href="/login" class="backLoginPage">返回登入頁面</a>
      </div>
      <button class="changePassword-button" (click)="changePassword()">
        寄送驗證信
      </button>
    </form>
  </div>
  <div class="space"></div>
</div>
