.table-container2 {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(83, 83, 83, 0.1);
  width: 60%;
}

.bordered-table2 {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #cccccc;

  th,
  td {
    border: 1px solid #cccccc;
    padding: 6px;
    text-align: left;
  }
}

.tr-cell-20 {
  width: 10%;
}

.td-cell-20 {
  width: 10%;
}

.tr-cell-70 {
  width: 70%;
}

.td-cell-70 {
  width: 70%;
}

.custom-header {
  background-color: #ffab3e;
}

.custom-header2 {
  background: linear-gradient(to bottom, #e3e3e3, #dddddd);
}

.custom-header3 {
  background-color: #c6e43f;
}

.custom-cell {
  background-color: #ffffff;
}

.even-row .custom-cell {
  background-color: #f9f9f9 !important;
}

.td-cell-80.custom-cell a {
  color: #e95504; /* 设置链接文本颜色为橘色 */
  text-decoration: none; /* 可选：移除下划线 */
}

.td-cell-80.custom-cell a:hover {
  color: rgb(127, 70, 1); /* 鼠标悬停时的颜色，可选 */
  text-decoration: underline; /* 鼠标悬停时显示下划线，可选 */
}

.card-header {
  border-top: 0;
}

.grid-columns-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
}

.statisticsArea {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;

  .statisticsArea_title {
    width: 160px;
    height: 40px;
    background: #d5a6e0;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    border: 3px solid #cccccc;
    border-bottom: 1px;
    border-radius: 5px 5px 0px 0px;
  }
  
  .statisticsArea_content {
    width: 160px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    border: 3px solid #cccccc;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px ;
  }
}


