<div class="card-header">
  <h5>統計專區</h5>
  <div class="statisticsArea">
    <div>
      <div class="statisticsArea_title">-</div>
      <div class="statisticsArea_content">-</div>
    </div>
    <div>
      <div class="statisticsArea_title">-</div>
      <div class="statisticsArea_content">-</div>
    </div>
    <div>
      <div class="statisticsArea_title">-</div>
      <div class="statisticsArea_content">-</div>
    </div>
    <div>
      <div class="statisticsArea_title">-</div>
      <div class="statisticsArea_content">-</div>
    </div>
    <div>
      <div class="statisticsArea_title">-</div>
      <div class="statisticsArea_content">-</div>
    </div>
  </div>
  <div class="mt-20"></div>
  <div class="statisticsArea">
    <div>
      <div class="statisticsArea_title">-</div>
      <div class="statisticsArea_content">-</div>
    </div>
    <div>
      <div class="statisticsArea_title">-</div>
      <div class="statisticsArea_content">-</div>
    </div>
    <div>
      <div class="statisticsArea_title">-</div>
      <div class="statisticsArea_content">-</div>
    </div>
    <div>
      <div class="statisticsArea_title">-</div>
      <div class="statisticsArea_content">-</div>
    </div>
    <div>
      <div class="statisticsArea_title">-</div>
      <div class="statisticsArea_content">-</div>
    </div>
  </div>
  <div class="mt-20"></div>
  <h5>個案管理</h5>
  <div class="managementArea">
    <div>
      <div class="managementArea_title">負責個案</div>
      <div class="managementArea_content">
        <div
          class="managementArea_button"
          (click)="showCaseManagement_ResponsibleCaseModal()"
        >
          {{ caseManagement_ResponsibleCaseData.length }} 筆
        </div>
        <nz-modal
          class="modal"
          [(nzVisible)]="isCaseManagement_ResponsibleCaseVisible"
          nzTitle="負責個案"
          [nzOkText]="null"
          [nzCancelText]="'關閉'"
          (nzOnCancel)="closeCaseManagement_ResponsibleCaseModal()"
        >
          <ng-container *nzModalContent>
            <div class="grid-columns-3">
              <div>個案姓名</div>
              <div>個案狀態</div>
              <div>操作</div>
            </div>
            <div
              class="grid-columns-3"
              *ngFor="
                let data of newCaseManagement_caseManagement_ResponsibleCaseData
              "
            >
              <div>{{ data.caseName }}</div>
              <div>{{ data.caseStatus }}</div>
              <div>
                <app-button
                  [buttonText]="'查看'"
                  (click)="viewCaseManagement_ResponsibleCaseData()"
                />
              </div>
            </div>
            <div class="mt-10"></div>
            <nz-pagination
              [nzPageIndex]="currentCaseManagement_ResponsibleCasePage"
              [nzPageSize]="pageSize"
              (nzPageIndexChange)="
                onCaseManagement_ResponsibleCasePageIndexChange($event)
              "
              [nzTotal]="caseManagement_ResponsibleCaseData.length"
            />
          </ng-container>
        </nz-modal>
      </div>
    </div>
    <div>
      <div class="managementArea_title">本月應完成</div>
      <div class="managementArea_content">
        <div>
          <div
            class="managementArea_button"
            (click)="showCaseManagement_MonthlyTargetModal()"
          >
            {{ caseManagement_MonthlyTargetData.length }} 筆
          </div>
          <nz-modal
            class="modal"
            [(nzVisible)]="isCaseManagement_MonthlyTargetVisible"
            nzTitle="本月應完成"
            [nzOkText]="null"
            [nzCancelText]="'關閉'"
            (nzOnCancel)="closeCaseManagement_MonthlyTargetModal()"
          >
            <ng-container *nzModalContent>
              <div class="grid-columns-3">
                <div>個案姓名</div>
                <div>表單類型</div>
                <div>操作</div>
              </div>
              <div
                class="grid-columns-3"
                *ngFor="let data of newCaseManagement_MonthlyTargetData"
              >
                <div>{{ data.caseName }}</div>
                <div>{{ data.formType }}</div>
                <div>
                  <app-button
                    [buttonText]="'查看'"
                    (click)="
                      viewCaseManagement_MonthlyTargetData(data.formType)
                    "
                  />
                </div>
              </div>
              <div class="mt-10"></div>
              <nz-pagination
                [nzPageIndex]="currentCaseManagement_MonthlyTargetPage"
                [nzPageSize]="pageSize"
                (nzPageIndexChange)="
                  onCaseManagement_MonthlyTargetPageIndexChange($event)
                "
                [nzTotal]="caseManagement_MonthlyTargetData.length"
              />
            </ng-container>
          </nz-modal>
        </div>
        <nz-modal
          class="modal"
          [(nzVisible)]="isCaseManagement_ResponsibleCaseVisible"
          nzTitle="負責個案"
          [nzOkText]="null"
          [nzCancelText]="'關閉'"
          (nzOnCancel)="closeCaseManagement_ResponsibleCaseModal()"
        >
          <ng-container *nzModalContent>
            <div class="grid-columns-3">
              <div>個案姓名</div>
              <div>個案狀態</div>
              <div>操作</div>
            </div>
            <div
              class="grid-columns-3"
              *ngFor="
                let data of newCaseManagement_caseManagement_ResponsibleCaseData
              "
            >
              <div>{{ data.caseName }}</div>
              <div>{{ data.caseStatus }}</div>
              <div>
                <app-button
                  [buttonText]="'查看'"
                  (click)="viewCaseManagement_ResponsibleCaseData()"
                />
              </div>
            </div>
            <div class="mt-10"></div>
            <nz-pagination
              [nzPageIndex]="currentCaseManagement_ResponsibleCasePage"
              [nzPageSize]="pageSize"
              (nzPageIndexChange)="
                onCaseManagement_ResponsibleCasePageIndexChange($event)
              "
              [nzTotal]="caseManagement_ResponsibleCaseData.length"
            />
          </ng-container>
        </nz-modal>
      </div>
    </div>
    <div>
      <div class="managementArea_title">逾期表單</div>
      <div class="managementArea_content">
        <div>
          <div
            class="managementArea_button"
            (click)="showCaseManagement_OverdueFormsModal()"
          >
            {{ caseManagement_OverdueFormsData.length }} 筆
          </div>
          <nz-modal
            class="modal"
            [(nzVisible)]="isCaseManagement_OverdueFormsVisible"
            nzTitle="逾期表單"
            [nzOkText]="null"
            [nzCancelText]="'關閉'"
            (nzOnCancel)="closeCaseManagement_OverdueFormsModal()"
          >
            <ng-container *nzModalContent>
              <div class="grid-columns-3">
                <div>個案姓名</div>
                <div>表單類型</div>
                <div>操作</div>
              </div>
              <div
                class="grid-columns-3"
                *ngFor="let data of newCaseManagement_OverdueFormsData"
              >
                <div>{{ data.caseName }}</div>
                <div>{{ data.formType }}</div>
                <div>
                  <app-button
                    [buttonText]="'查看'"
                    (click)="viewCaseManagement_OverdueFormsData(data.formType)"
                  />
                </div>
              </div>
              <div class="mt-10"></div>
              <nz-pagination
                [nzPageIndex]="currentCaseManagement_OverdueFormsPage"
                [nzPageSize]="pageSize"
                (nzPageIndexChange)="
                  onCaseManagement_OverdueFormsPageIndexChange($event)
                "
                [nzTotal]="caseManagement_OverdueFormsData.length"
              />
            </ng-container>
          </nz-modal>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-20"></div>
  <h5>志工管理</h5>
  <div class="managementArea">
    <div>
      <div class="managementArea_title">志工人數</div>
      <div class="managementArea_content">
        <div>
          <div
            class="managementArea_button"
            (click)="showVolunteerManagement_VolunteerCountModal()"
          >
            {{ volunteerManagement_VolunteerCountData.length }} 筆
          </div>
        </div>
        <nz-modal
          class="modal"
          [(nzVisible)]="isVolunteerManagement_VolunteerCountVisible"
          nzTitle="志工人數"
          [nzOkText]="null"
          [nzCancelText]="'關閉'"
          (nzOnCancel)="closeVolunteerManagement_VolunteerCountModal()"
        >
          <ng-container *nzModalContent>
            <div class="grid-columns-3">
              <div>個案姓名</div>
              <div>個案狀態</div>
              <div>操作</div>
            </div>
            <div
              class="grid-columns-3"
              *ngFor="let data of newVolunteerManagement_VolunteerCountData"
            >
              <div>{{ data.volunteerName }}</div>
              <div>{{ data.volunteerStatus }}</div>
              <div>
                <app-button
                  [buttonText]="'查看'"
                  (click)="viewVolunteerManagement_VolunteerCountData()"
                />
              </div>
            </div>
            <div class="mt-10"></div>
            <nz-pagination
              [nzPageIndex]="currentVolunteerManagement_VolunteerCountPage"
              [nzPageSize]="pageSize"
              (nzPageIndexChange)="
                onVolunteerManagement_VolunteerCountPageIndexChange($event)
              "
              [nzTotal]="volunteerManagement_VolunteerCountData.length"
            />
          </ng-container>
        </nz-modal>
      </div>
    </div>
    <div>
      <div class="managementArea_title">本月應完成</div>
      <div class="managementArea_content">
        <div>
          <div
            class="managementArea_button"
            (click)="showVolunteerManagement_MonthlyTargetModal()"
          >
            {{ volunteerManagement_MonthlyTargetData.length }} 筆
          </div>
          <nz-modal
            class="modal"
            [(nzVisible)]="isVolunteerManagement_MonthlyTargetVisible"
            nzTitle="本月應完成"
            [nzOkText]="null"
            [nzCancelText]="'關閉'"
            (nzOnCancel)="closeVolunteerManagement_MonthlyTargetModal()"
          >
            <ng-container *nzModalContent>
              <div class="grid-columns-3">
                <div>個案姓名</div>
                <div>表單類型</div>
                <div>操作</div>
              </div>
              <div
                class="grid-columns-3"
                *ngFor="let data of newVolunteerManagement_MonthlyTargetData"
              >
                <div>{{ data.volunteerName }}</div>
                <div>{{ data.formType }}</div>
                <div>
                  <app-button
                    [buttonText]="'查看'"
                    (click)="viewVolunteerManagement_MonthlyTargetData()"
                  />
                </div>
              </div>
              <div class="mt-10"></div>
              <nz-pagination
                [nzPageIndex]="currentVolunteerManagement_MonthlyTargetPage"
                [nzPageSize]="pageSize"
                (nzPageIndexChange)="
                  onVolunteerManagement_MonthlyTargetPageIndexChange($event)
                "
                [nzTotal]="volunteerManagement_MonthlyTargetData.length"
              />
            </ng-container>
          </nz-modal>
        </div>
        <nz-modal
          class="modal"
          [(nzVisible)]="isCaseManagement_ResponsibleCaseVisible"
          nzTitle="負責個案"
          [nzOkText]="null"
          [nzCancelText]="'關閉'"
          (nzOnCancel)="closeCaseManagement_ResponsibleCaseModal()"
        >
          <ng-container *nzModalContent>
            <div class="grid-columns-3">
              <div>個案姓名</div>
              <div>個案狀態</div>
              <div>操作</div>
            </div>
            <div
              class="grid-columns-3"
              *ngFor="
                let data of newCaseManagement_caseManagement_ResponsibleCaseData
              "
            >
              <div>{{ data.caseName }}</div>
              <div>{{ data.caseStatus }}</div>
              <div>
                <app-button
                  [buttonText]="'查看'"
                  (click)="viewCaseManagement_ResponsibleCaseData()"
                />
              </div>
            </div>
            <div class="mt-10"></div>
            <nz-pagination
              [nzPageIndex]="currentCaseManagement_ResponsibleCasePage"
              [nzPageSize]="pageSize"
              (nzPageIndexChange)="
                onCaseManagement_ResponsibleCasePageIndexChange($event)
              "
              [nzTotal]="caseManagement_ResponsibleCaseData.length"
            />
          </ng-container>
        </nz-modal>
      </div>
    </div>
    <div>
      <div class="managementArea_title">逾期表單</div>
      <div class="managementArea_content">
        <div>
          <div
            class="managementArea_button"
            (click)="showVolunteerManagement_OverdueFormsModal()"
          >
            {{ volunteerManagement_OverdueFormsData.length }} 筆
          </div>
          <nz-modal
            class="modal"
            [(nzVisible)]="isVolunteerManagement_OverdueFormsVisible"
            nzTitle="逾期表單"
            [nzOkText]="null"
            [nzCancelText]="'關閉'"
            (nzOnCancel)="closeVolunteerManagement_OverdueFormsModal()"
          >
            <ng-container *nzModalContent>
              <div class="grid-columns-3">
                <div>個案姓名</div>
                <div>表單類型</div>
                <div>操作</div>
              </div>
              <div
                class="grid-columns-3"
                *ngFor="let data of newVolunteerManagement_OverdueFormsData"
              >
                <div>{{ data.volunteerName }}</div>
                <div>{{ data.formType }}</div>
                <div>
                  <app-button
                    [buttonText]="'查看'"
                    (click)="
                      viewVolunteerManagement_OverdueFormsModal(data.formType)
                    "
                  />
                </div>
              </div>
              <div class="mt-10"></div>
              <nz-pagination
                [nzPageIndex]="currentVolunteerManagement_OverdueFormsPage"
                [nzPageSize]="pageSize"
                (nzPageIndexChange)="
                  onVolunteerManagement_OverdueFormsPageIndexChange($event)
                "
                [nzTotal]="volunteerManagement_OverdueFormsData.length"
              />
            </ng-container>
          </nz-modal>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-20"></div>
  <h5>簽核專區</h5>
  <div class="approvalSectionArea">
    <div>
      <div class="approvalSection_title">待簽表單</div>
      <div class="approvalSection_content">
        <div class="approvalSection_button" (click)="viewPendingForms()">
          16 筆
        </div>
      </div>
    </div>
    <div>
      <div class="approvalSection_title">退件表單</div>
      <div class="approvalSection_content">
        <div class="approvalSection_button" (click)="viewRejectedForms()">
          12 筆
        </div>
      </div>
    </div>
    <div>
      <div class="approvalSection_title">已送審表單</div>
      <div class="approvalSection_content">
        <div class="approvalSection_button" (click)="viewSubmittedForms()">
          11 筆
        </div>
      </div>
    </div>
    <div>
      <div class="approvalSection_title">已簽核表單</div>
      <div class="approvalSection_content">
        <div class="approvalSection_button" (click)="viewApprovedForms()">
          20 筆
        </div>
      </div>
    </div>
  </div>
  <div class="mt-20"></div>
  <h5>最新公告</h5>
  <div class="latestAnnouncementArea">
    <div class="latestAnnouncementArea_grid latestAnnouncementArea_title">
      <div>日期</div>
      <div>主旨</div>
      <div>單位</div>
      <div>建立者</div>
    </div>
    <div
      class="latestAnnouncementArea_grid"
      *ngFor="let content of newAnnouncement; let i = index"
      [ngClass]="{
        'even-row': i % 2 === 1,
        'odd-row': i % 2 !== 1
      }"
    >
      <div>{{ content.date }}</div>
      <div>
        <a
          class="latestAnnouncementArea_subject"
          (click)="openModal('主旨標題', content.subject, '')"
          >{{ content.subject }}</a
        >
      </div>
      <div>{{ content.unit }}</div>
      <div>{{ content.create }}</div>
    </div>
  </div>
  <div class="mt-10"></div>
  <nz-pagination
    [nzPageIndex]="currentPage"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="onPageIndexChange($event)"
    [nzTotal]="announcement.length"
  />
</div>
