<app-case-information [currentTab]="'轉介單'" />
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div>
      <div class="title">單位資料</div>
    </div>
    <div class="grid-columns-1">
      <div class="label disableBackground">轉介單位</div>
      <div>
        <!-- !TODO -->
        <app-select
          [selectWidth]="'175px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_referralUnit"
          formControlName="referralUnit"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label disableBackground">電話</div>
      <div>
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="11"
          formControlName="unitPhone"
        />
      </div>
      <div class="label disableBackground">傳真</div>
      <div>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="10"
          formControlName="unitFax"
        />
      </div>
    </div>
    <div>
      <div class="title">基本資料</div>
    </div>
    <div class="grid-columns-2">
      <div class="label disableBackground">姓名</div>
      <div>
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="name"
        />
      </div>
      <div class="label disableBackground">性別</div>
      <div>
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_gender"
          formControlName="gender"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label disableBackground">生日</div>
      <div>
        <app-dayPicker formControlName="dateOfBirth" />
      </div>
      <div class="label disableBackground">身份證字號</div>
      <div>
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="10"
          formControlName="idNumber"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label disableBackground">手機</div>
      <div>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="4"
          [type]="'NUMBER'"
          formControlName="mobileNumber_firstFourDigits"
        />
        <span class="mr-5">-</span>
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="6"
          [type]="'NUMBER'"
          formControlName="mobileNumber_lastSixDigits"
        />
      </div>
      <div class="label disableBackground">電話</div>
      <div>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="4"
          [type]="'NUMBER'"
          formControlName="phoneNumber_areaCode"
        />
        <span class="mr-5">-</span>
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="8"
          [type]="'NUMBER'"
          formControlName="phoneNumber_phoneNumber"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label disableBackground">通訊地址</div>
      <div>
        <app-taiwan-city-select
          [disabled]="true"
          formControlName="communicationAddress_select"
        />
        <app-input
          [inputWidth]="'300px'"
          [maxLength]="30"
          formControlName="communicationAddress"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label disableBackground">福利身分</div>
      <div>
        <app-select
          [selectWidth]="'100px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_welfareStatus"
          formControlName="welfareStatus"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label disableBackground">社會福利補助</div>
      <div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="socialWelfareSubsidyChange($event)"
        >
          <div nz-row>
            <div nz-col>
              <label nz-checkbox [nzDisabled]="true" nzValue="1">無</label>
            </div>
            <div nz-col>
              <label nz-checkbox [nzDisabled]="true" nzValue="2"
                >身心障礙</label
              >
            </div>
            <div nz-col>
              <label nz-checkbox [nzDisabled]="true" nzValue="3">原住民</label>
            </div>
            <div nz-col>
              <label nz-checkbox [nzDisabled]="true" nzValue="4">新住民</label>
            </div>
            <div nz-col>
              <label nz-checkbox [nzDisabled]="true" nzValue="5">榮民</label>
            </div>
            <div nz-col>
              <label nz-checkbox [nzDisabled]="true" nzValue="6">榮眷</label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label disableBackground">家系圖</div>
      <div>
        <app-button [buttonText]="'繪製'" />
        <app-button [attachClassName]="['success']" [buttonText]="'匯入'" />
        <app-button [attachClassName]="['danger']" [buttonText]="'匯出'" />
        <!-- !TODO -->
      </div>
      <div class="label disableBackground">生態圖</div>
      <div>
        <app-button  [buttonText]="'繪製'" />
        <app-button [attachClassName]="['success']" [buttonText]="'匯入'" />
        <app-button [attachClassName]="['danger']" [buttonText]="'匯出'" />
        <!-- !TODO -->
      </div>
    </div>
    <div>
      <div class="title">緊急聯絡人</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">緊急聯絡人</div>
      <div>
        <div class="grid bold-text fontSize-16">
          <span>緊急聯絡人</span>
          <span>關係</span>
          <span>連絡電話</span>
        </div>
        <div
          class="grid"
          *ngFor="let status of emergencyContact; let index = index"
        >
          <span>{{ status.emergencyContact_emergencyContact }}</span>
          <span>{{ status.emergencyContact_relationship }}</span>
          <span>{{ status.emergencyContact_phone }}</span>
        </div>
      </div>
    </div>
    <div>
      <div class="title">轉介內容</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">個案概況與處遇摘要</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
          <textarea
            rows="4"
            nz-input
            [maxlength]="500"
            formControlName="caseSummaryAndTreatment"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('caseSummaryAndTreatment')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">轉介目的</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
          <textarea
            rows="4"
            nz-input
            [maxlength]="500"
            formControlName="referralPurpose"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('referralPurpose')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div>
      <div class="title">受理轉介單位</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">聯絡人</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="referralUnitContactPerson"
        />
        <app-error-message
          [control]="form.get('referralUnitContactPerson')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">電話</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="11"
          [type]="'NUMBER'"
          formControlName="referralUnitPhone"
        />
        <app-error-message
          [control]="form.get('referralUnitPhone')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
      <div class="label">傳真</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="10"
          formControlName="referralUnitFax"
        />
        <app-error-message
          [control]="form.get('referralUnitFax')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <!-- !TODO -->
      <div class="label">填單人</div>
      <div>王大明</div>
    </div>
    <div>
      <div class="title">主管簽核</div>
    </div>
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">單位主管意見</div>
      <!-- !TODO -->
      <div>
        <app-button [attachClassName]="['success']" [buttonText]="'同意'" />
        <app-button [attachClassName]="['danger']" [buttonText]="'退回'" />
        <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
          <textarea
            rows="4"
            nz-input
            [maxlength]="500"
            formControlName="supervisorComments"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('supervisorComments')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <!-- !TODO -->
    <app-button  [buttonText]="'儲存'" (click)="save()" />
    <app-button
    [attachClassName]="['success']"
      [buttonText]="'送審'"
      (click)="review()"
    />
    <app-button
    [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('轉介單')"
    />
  </div>
</form>
