<app-case-information [currentTab]="'個案複評表'" />
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div>
      <div class="title">訪視概況</div>
    </div>
    <div class="grid-columns-1">
      <!-- !TODO -->
      <div class="label disableBackground">個案姓名</div>
      <div>
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="caseName"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">訪視日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="hd150ListService.isView"
          formControlName="visitDate"
        />
        <app-error-message
          [control]="form.get('visitDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
      <div class="label">訪視方式</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [options]="selectOptions_visitMethod"
          formControlName="visitMethod"
        />
        <app-error-message
          [control]="form.get('visitMethod')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div>
      <div class="title">文字描述</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">生理</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="1000" data-count="0/1000">
          <textarea
            rows="4"
            nz-input
            [maxlength]="1000"
            [placeholder]="'請填寫問題及需求及概述及現有資源使用狀況。'"
            formControlName="textDescription_physical"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('textDescription_physical')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">心理</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="1000" data-count="0/1000">
          <textarea
            rows="4"
            nz-input
            [maxlength]="1000"
            [placeholder]="'請填寫問題及需求及概述及現有資源使用狀況。'"
            formControlName="textDescription_psychological"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('textDescription_psychological')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">家庭</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="1000" data-count="0/1000">
          <textarea
            rows="4"
            nz-input
            [maxlength]="1000"
            [placeholder]="'請填寫問題及需求及概述及現有資源使用狀況。'"
            formControlName="textDescription_family"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('textDescription_family')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">社會</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="1000" data-count="0/1000">
          <textarea
            rows="4"
            nz-input
            [maxlength]="1000"
            [placeholder]="'請填寫問題及需求及概述及現有資源使用狀況。'"
            formControlName="textDescription_social"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('textDescription_social')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">經濟</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="1000" data-count="0/1000">
          <textarea
            rows="4"
            nz-input
            [maxlength]="1000"
            [placeholder]="'請填寫問題及需求及概述及現有資源使用狀況。'"
            formControlName="textDescription_economic"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('textDescription_economic')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">居住環境</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="1000" data-count="0/1000">
          <textarea
            rows="4"
            nz-input
            [maxlength]="1000"
            [placeholder]="'請填寫問題及需求及概述及現有資源使用狀況。'"
            formControlName="textDescription_livingEnvironment"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('textDescription_livingEnvironment')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">外出</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="1000" data-count="0/1000">
          <textarea
            rows="4"
            nz-input
            [maxlength]="1000"
            [placeholder]="'請填寫問題及需求及概述及現有資源使用狀況。'"
            formControlName="textDescription_outdoorActivity"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('textDescription_outdoorActivity')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div>
      <div class="title">需求評估</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">福利身分別</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="welfareStatusChange($event)">
          <div formGroupName="welfareStatus">
            <span *ngFor="let option of welfareStatus">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">長照需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="longTermCareNeedsChange($event)">
          <div formGroupName="longTermCareNeeds">
            <span *ngFor="let option of longTermCareNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">餐食需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="mealNeedsChange($event)">
          <div formGroupName="mealNeeds">
            <span *ngFor="let option of mealNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">醫療需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="medicalNeedsChange($event)">
          <div formGroupName="medicalNeeds">
            <span *ngFor="let option of medicalNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">經濟需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="economicNeedsChange($event)">
          <div formGroupName="economicNeeds">
            <span *ngFor="let option of economicNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '07' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="economicNeeds_other"
              />
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">輔具需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="assistiveDeviceNeedsChange($event)">
          <div formGroupName="assistiveDeviceNeeds">
            <span *ngFor="let option of assistiveDeviceNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">環境需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="environmentalNeedsChange($event)">
          <div formGroupName="environmentalNeeds">
            <span *ngFor="let option of environmentalNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">社會參與</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="socialMealNeedsChange($event)">
          <div formGroupName="socialMealNeeds">
            <span *ngFor="let option of socialMealNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '03' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="socialMealNeeds_other"
              />
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">自我保護需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="selfProtectionNeedsChange($event)">
          <div formGroupName="selfProtectionNeeds">
            <span *ngFor="let option of selfProtectionNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '04' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="selfProtectionNeeds_other"
              />
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">鑑定需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="assessmentNeedsChange($event)">
          <div formGroupName="assessmentNeeds">
            <span *ngFor="let option of assessmentNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">其他照顧需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="otherCareNeedsChange($event)">
          <div formGroupName="otherCareNeeds">
            <span *ngFor="let option of otherCareNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div>
      <div class="title">處遇內容</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">處遇目標</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
          <textarea
            rows="4"
            nz-input
            [maxlength]="500"
            [placeholder]="
              '應思考個案現況與基金會個案服務目標間的落差，據此設定處遇目標。'
            "
            formControlName="treatmentGoals"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('treatmentGoals')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">處遇計畫/服務安排</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="2000" data-count="0/2000">
          <textarea
            rows="4"
            nz-input
            [maxlength]="2000"
            [placeholder]="
              '需寫細項服務規劃，包含服務頻率、連結資源內容、分派給志工的任務等等。'
            "
            formControlName="serviceArrangement"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('serviceArrangement')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div>
      <div class="title">複評結果</div>
    </div>
    <div class="grid-columns-2">
      <div class="label">最新風險等級</div>
      <div class="column-Message">
        <!-- !TODO -->
        <app-select
          [selectWidth]="'90px'"
          [options]="selectOptions_latestRiskLevel"
          formControlName="latestRiskLevel"
        />
        <app-error-message
          [control]="form.get('latestRiskLevel')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      <div class="label">訪視結果</div>
      <div class="column-Message">
        <!-- !TODO -->
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_visitOutcome"
          formControlName="visitOutcome"
        />
        <app-error-message
          [control]="form.get('visitOutcome')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div>
      <div class="title">複評日期</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">應複評日期</div>
      <div>
        <!-- !TODO -->
        <div *ngIf="form.get('visitOutcome')?.value === '持續服務'">
          113年10月10日
        </div>
      </div>
    </div>
    <div>
      <div class="title">主管簽核</div>
    </div>
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">單位主管意見</div>
      <!-- !TODO -->
      <div>
        <app-button [attachClassName]="['success']" [buttonText]="'同意'" />
        <app-button [attachClassName]="['danger']" [buttonText]="'退回'" />
        <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
          <textarea
            rows="4"
            nz-input
            [maxlength]="500"
            formControlName="supervisorComments"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('supervisorComments')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <!-- !TODO -->
    <app-button
      *ngIf="hd150ListService.isEdit"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      *ngIf="hd150ListService.isCreate"
      [attachClassName]="['success']"
      [buttonText]="'送審'"
      (click)="review()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab()"
    />
  </div>
</form>
