<app-case-information [currentTab]="'轉介單清單'" />
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container border-bottom-0">
    <div class="grid-columns-1">
      <div class="label">填單日期區間</div>
      <div class="column-Message">
        <app-dayPicker
          (ngModelChange)="onFormSubmissionDateChange($event)"
          [startRange]="30"
          [endRange]="0"
          formControlName="formSubmissionDate_start"
        />
        <span class="mx-2">-</span>
        <app-dayPicker
          (ngModelChange)="onFormSubmissionDateChange($event)"
          [startRange]="30"
          [endRange]="0"
          formControlName="formSubmissionDate_end"
        />
        <app-error-message
          [isCustom]="true"
          [condition]="checkDateRange"
          [errorMessage]="'格式錯誤'"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button [buttonText]="'搜尋'" (click)="search()" />
    <app-button
      [attachClassName]="['success']"
      [buttonText]="'新增'"
      (click)="create()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab()"
    />
  </div>
</form>
<div class="mt"></div>
<div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
<div class="mt"></div>
<div class="grid-search-container">
  <div class="grid-columns searchTitle">
    <div>填單日期</div>
    <div>填寫人</div>
    <div>簽核狀態</div>
    <div>操作</div>
  </div>
  <div
    class="grid-columns tableBorder"
    *ngFor="let searchResult of newSearchResultData; let i = index"
    [ngClass]="{
      'even-row': i % 2 === 1,
      'odd-row': i % 2 !== 1
    }"
  >
    <div>
      {{ searchResult.formSubmissionDate }}
    </div>
    <div>
      {{ searchResult.filler }}
    </div>
    <div>
      {{ searchResult.approvalStatus }}
    </div>
    <!-- !TODO -->
    <div>
      <app-button [buttonText]="'檢視'" (click)="view()" />
      <app-button
        [buttonText]="'編輯'"
        [attachClassName]="['warning']"
        (click)="edit()"
      />
      <nz-upload
        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        [nzFileList]="replyForm_fileList"
        (nzChange)="replyForm_handleChange($event)"
      >
        <app-button
          [attachClassName]="['success']"
          [buttonText]="'上傳回覆單'"
        />
      </nz-upload>
    </div>
  </div>
</div>
<div class="mt-10"></div>
<nz-pagination
  [nzPageIndex]="currentPage"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzTotal]="searchResultData.length"
/>
