<app-volunteer-information
  *ngIf="volunteerInformationService.isChoiceVolunteer"
  [currentTab]="'服務時數'"
/>
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-2 border-bottom-0">
      <div class="label">服務時期區間</div>
      <div>
        <app-dayPicker formControlName="serviceHoursRange_start" />
        <span class="mx-2">-</span>
        <app-dayPicker formControlName="serviceHoursRange_end" />
      </div>
      <div class="label">服務內容</div>
      <div>
        <app-select
          [selectWidth]="'150px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_serviceContent"
          formControlName="serviceContent"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button
      [buttonIcon]="'search'"
      [buttonText]="'搜尋'"
      (click)="search()"
    />
    <app-button
      [buttonIcon]="'close'"
      [buttonText]="'關閉'"
      (click)="closeTab('服務時數')"
    />
  </div>
</form>
<div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
<form>
  <div class="mt"></div>
  <div class="grid-search-container">
    <div class="grid-columns searchTitle">
      <div>服務時期區間</div>
      <div>服務內容</div>
      <div>服務時數</div>
      <div>時數登入方式</div>
      <div>操作</div>
    </div>
    <div
      class="grid-columns tableBorder"
      *ngFor="let searchResult of newSearchResultData; let i = index"
      [ngClass]="{
        'even-row': i % 2 === 1,
        'odd-row': i % 2 !== 1
      }"
    >
      <div>
        {{ searchResult.serviceHoursRange }}
      </div>
      <div>
        {{ searchResult.serviceContent }}
      </div>
      <div>
        {{ searchResult.serviceHours }}
      </div>
      <div>
        {{ searchResult.loginMethod }}
      </div>
      <!-- !TODO -->
      <div>
        <app-button [buttonText]="'檢視'" (click)="view()" />
      </div>
    </div>
  </div>
</form>
<div class="mt-10"></div>
<nz-pagination
  [nzPageIndex]="currentPage"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzTotal]="searchResultData.length"
/>
