<app-case-information [currentTab]="'例行訪視記錄表'" />
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div>
      <div class="title">訪視概況</div>
    </div>
    <div class="grid-columns-1">
      <!-- !TODO -->
      <div class="label">個案姓名</div>
      <div>
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="caseName"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">訪視日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="hd140ListService.isView"
          formControlName="visitDate"
        />
        <app-error-message
          [control]="form.get('visitDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
      <div class="label">訪視方式</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [options]="selectOptions_visitMethod"
          formControlName="visitMethod"
        />
        <app-error-message
          [control]="form.get('visitMethod')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">本次訪視目的</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
          <textarea
            rows="4"
            nz-input
            [maxlength]="500"
            formControlName="visitPurpose"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('visitPurpose')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">訪視紀錄</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="2000" data-count="0/2000">
          <textarea
            rows="4"
            nz-input
            [maxlength]="2000"
            [placeholder]="
              '記錄長輩生理、心理、家庭、社會、經濟、居住環境與外出、會談內容等當下訪視的各種狀況。'
            "
            formControlName="visitRecord"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('visitRecord')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">下次追蹤事項</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
          <textarea
            rows="4"
            nz-input
            [maxlength]="500"
            formControlName="followUpItems"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('followUpItems')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">是否連結其他資源</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [options]="selectOptions_trueOrFalse"
          (ngModelChange)="handleSelectChange_linkedToOtherResources($event)"
          formControlName="linkedToOtherResources"
        />
        <app-error-message
          [control]="form.get('linkedToOtherResources')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="title">前次評估需求項目</div>
    <div class="grid-columns-1">
      <div class="label">前次評估需求項目</div>
      <div>身障證明申請、居家服務</div>
    </div>
    <!-- <div class="grid-columns-1">
      <div class="label">福利身分別</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="welfareStatusLastChange($event)">
          <div formGroupName="welfareStatusLast">
            <span *ngFor="let option of welfareStatusLast">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">長照需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="longTermCareNeedsLastChange($event)">
          <div formGroupName="longTermCareNeedsLast">
            <span *ngFor="let option of longTermCareNeedsLast">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">餐食需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="mealNeedsLastChange($event)">
          <div formGroupName="mealNeedsLast">
            <span *ngFor="let option of mealNeedsLast">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">醫療需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="medicalNeedsLastChange($event)">
          <div formGroupName="medicalNeedsLast">
            <span *ngFor="let option of medicalNeedsLast">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">經濟需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="economicNeedsLastChange($event)">
          <div formGroupName="economicNeedsLast">
            <span *ngFor="let option of economicNeedsLast">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '07' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="economicNeeds_other"
              />
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">輔具需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper
          (nzOnChange)="assistiveDeviceNeedsLastChange($event)"
        >
          <div formGroupName="assistiveDeviceNeedsLast">
            <span *ngFor="let option of assistiveDeviceNeedsLast">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">環境需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper
          (nzOnChange)="environmentalNeedsLastChange($event)"
        >
          <div formGroupName="environmentalNeedsLast">
            <span *ngFor="let option of environmentalNeedsLast">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">社會參與</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="socialMealNeedsLastChange($event)">
          <div formGroupName="socialMealNeedsLast">
            <span *ngFor="let option of socialMealNeedsLast">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '03' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="socialMealNeeds_other"
              />
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">自我保護需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper
          (nzOnChange)="selfProtectionNeedsLastChange($event)"
        >
          <div formGroupName="selfProtectionNeedsLast">
            <span *ngFor="let option of selfProtectionNeedsLast">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '04' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="selfProtectionNeeds_other"
              />
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">鑑定需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="assessmentNeedsLastChange($event)">
          <div formGroupName="assessmentNeedsLast">
            <span *ngFor="let option of assessmentNeedsLast">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">其他照顧需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="otherCareNeedsLastChange($event)">
          <div formGroupName="otherCareNeedsLast">
            <span *ngFor="let option of otherCareNeedsLast">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div> -->
    <div>
      <div class="title">本次訪視新增需求項目</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">福利身分別</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="welfareStatusChange($event)">
          <div formGroupName="welfareStatus">
            <span *ngFor="let option of welfareStatus">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">長照需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="longTermCareNeedsChange($event)">
          <div formGroupName="longTermCareNeeds">
            <span *ngFor="let option of longTermCareNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">餐食需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="mealNeedsChange($event)">
          <div formGroupName="mealNeeds">
            <span *ngFor="let option of mealNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">醫療需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="medicalNeedsChange($event)">
          <div formGroupName="medicalNeeds">
            <span *ngFor="let option of medicalNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">經濟需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="economicNeedsChange($event)">
          <div formGroupName="economicNeeds">
            <span *ngFor="let option of economicNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '07' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="economicNeeds_other"
              />
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">輔具需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="assistiveDeviceNeedsChange($event)">
          <div formGroupName="assistiveDeviceNeeds">
            <span *ngFor="let option of assistiveDeviceNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">環境需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="environmentalNeedsChange($event)">
          <div formGroupName="environmentalNeeds">
            <span *ngFor="let option of environmentalNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">社會參與</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="socialMealNeedsChange($event)">
          <div formGroupName="socialMealNeeds">
            <span *ngFor="let option of socialMealNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '03' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="socialMealNeeds_other"
              />
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">自我保護需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="selfProtectionNeedsChange($event)">
          <div formGroupName="selfProtectionNeeds">
            <span *ngFor="let option of selfProtectionNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
              <app-input
                *ngIf="option.value === '04' && option.checked"
                [inputWidth]="'100px'"
                [maxLength]="30"
                formControlName="selfProtectionNeeds_other"
              />
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">鑑定需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="assessmentNeedsChange($event)">
          <div formGroupName="assessmentNeeds">
            <span *ngFor="let option of assessmentNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">其他照顧需求</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="otherCareNeedsChange($event)">
          <div formGroupName="otherCareNeeds">
            <span *ngFor="let option of otherCareNeeds">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div class="title">本次服務內容</div>
    <div class="grid-columns-1">
      <div class="label">本次服務內容</div>
      <div class="column-Message">
        <nz-checkbox-wrapper (nzOnChange)="currentServiceContentChange($event)">
          <div formGroupName="currentServiceContent">
            <span *ngFor="let option of currentServiceContent">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div>
      <div class="title">處遇內容</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">處遇目標內容</div>
      <div>
        <app-button
          *ngIf="!isImportLastTreatmentGoal"
          [attachClassName]="
            hd140ListService.isView ? ['secondary'] : ['success']
          "
          [disabled]="hd140ListService.isView"
          [buttonText]="'代入上次'"
          (click)="importLastTreatmentGoal()"
        />
        <app-button
          *ngIf="isImportLastTreatmentGoal"
          [attachClassName]="['danger']"
          [buttonText]="'取消代入'"
          (click)="cancelImportLastTreatmentGoal()"
        />
        <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
          <textarea
            rows="4"
            nz-input
            [maxlength]="500"
            [placeholder]="
              '應思考個案現況與基金會個案服務目標間的落差，據此設定處遇目標。'
            "
            formControlName="treatmentGoalsContent"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('treatmentGoalsContent')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">處遇計畫/服務安排</div>
      <div>
        <app-button
          *ngIf="!isImportLastTreatmentPlan"
          [attachClassName]="
            hd140ListService.isView ? ['secondary'] : ['success']
          "
          [disabled]="hd140ListService.isView"
          [buttonText]="'代入上次'"
          (click)="importLastTreatmentPlan()"
        />
        <app-button
          *ngIf="isImportLastTreatmentPlan"
          [attachClassName]="['danger']"
          [buttonText]="'取消代入'"
          (click)="cancelImportLastTreatmentPlan()"
        />
        <nz-textarea-count [nzMaxCharacterCount]="2000" data-count="0/2000">
          <textarea
            rows="4"
            nz-input
            [maxlength]="2000"
            [placeholder]="
              '需寫細項服務規劃，包含服務頻率、連結資源內容、分派給志工的任務等等。'
            "
            formControlName="serviceArrangement"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('serviceArrangement')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div>
      <div class="title">個案資訊更新</div>
    </div>
    <div class="grid-columns-2">
      <div class="label">最新風險等級</div>
      <div class="column-Message">
        <!-- !TODO -->
        <app-select
          [selectWidth]="'90px'"
          [options]="selectOptions_latestRiskLevel"
          formControlName="latestRiskLevel"
        />
        <app-error-message
          [control]="form.get('latestRiskLevel')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      <div class="label">訪視結果</div>
      <div class="column-Message">
        <!-- !TODO -->
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_visitOutcome"
          formControlName="visitOutcome"
        />
        <app-error-message
          [control]="form.get('visitOutcome')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div>
      <div class="title">下次訪視日期</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">下次訪視日期</div>
      <div class="column-Message">
        <!-- !TODO -->
        <div *ngIf="form.get('visitOutcome')?.value === '持續服務'">
          114年1月1日
        </div>
      </div>
    </div>
    <div>
      <div class="title">主管簽核</div>
    </div>
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">單位主管意見</div>
      <!-- !TODO -->
      <div>
        <app-button [attachClassName]="['success']" [buttonText]="'同意'" />
        <app-button [attachClassName]="['danger']" [buttonText]="'退回'" />
        <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
          <textarea
            rows="4"
            nz-input
            [maxlength]="500"
            formControlName="supervisorComments"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('supervisorComments')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <!-- !TODO -->
    <app-button
      *ngIf="hd140ListService.isEdit"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      *ngIf="hd140ListService.isCreate"
      [attachClassName]="['success']"
      [buttonText]="'送審'"
      (click)="review()"
    />
    <app-button
      *ngIf="hd140ListService.isEdit"
      [attachClassName]="['warning']"
      [buttonText]="'刪除'"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab()"
    />
  </div>
</form>
