<nz-table class="bordered-table-login">
    <tr>
        <th colspan="6" class="custom-header bold-text">
            <img src="favicon.ico">
            <p>弘道老人福利基金會-預照管理系統</p>
        </th>
    </tr>
    <tr>
        <th class="tr-cell custom-header bold-text" nzAlign="center">讀卡機</th>
        <td class="td-cell custom-cell">
            <app-select [selectWidth]="'250px'" [options]="selectOptions_1" [defaultPlaceHolder]="false" [optionSelected]="'USB Smart Card Reader 0000'" ></app-select>
        </td>
    </tr>
    <tr>
        <th class="tr-cell custom-header bold-text" nzAlign="center">PIN碼</th>
        <td class="td-cell custom-cell">
            <app-input [inputWidth]="'250px'" [type]="'PWD'" [contentEntered]="contentEntered_1" [placeholder]="'請輸入密碼'"></app-input>
        </td>
    </tr>
    <tr>
        <th colspan="6" class="custom-header bold-text">
            <a href="/">
                <app-button [buttonText]="'登入'"></app-button>
            </a>
            <app-button [buttonText]="'註冊'"></app-button>
        </th>
    </tr>
</nz-table>
