<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-2">
      <div class="label">姓名</div>
      <div>
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="name"
        />
      </div>
      <div class="label">身份證字號</div>
      <div>
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="10"
          formControlName="idNumber"
        />
      </div>
    </div>
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">服務單位</div>
      <div>
        <app-select
          [selectWidth]="'120px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_serviceUnit"
          formControlName="serviceUnit"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button [buttonText]="'搜尋'" (click)="search()" />
    <app-button [attachClassName]="['success']" [buttonText]="'新增'" (click)="create()" />
    <app-button
    [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('志工資料清單')"
    />
  </div>
</form>
<div class="mt"></div>
<div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
<form>
  <div class="mt"></div>
  <div class="grid-search-container">
    <div class="grid-columns searchTitle">
      <div>服務狀態</div>
      <div>志工姓名</div>
      <div>性別</div>
      <div>生日</div>
      <div>手機</div>
      <div>服務單位</div>
      <div>加入年份</div>
      <div>操作</div>
    </div>
    <div
      class="grid-columns tableBorder"
      *ngFor="let searchResult of newSearchResultData; let i = index"
      [ngClass]="{
        'even-row': i % 2 === 1,
        'odd-row': i % 2 !== 1
      }"
    >
      <div>
        {{ searchResult.serviceStatus }}
      </div>
      <div>
        {{ searchResult.volunteerName }}
      </div>
      <div>
        {{ searchResult.gender }}
      </div>
      <div>
        {{ searchResult.birthDate }}
      </div>
      <div>
        {{ searchResult.phoneNumber }}
      </div>
      <div>
        {{ searchResult.serviceUnit }}
      </div>
      <div>
        {{ searchResult.yearJoined }}
      </div>
      <!-- !TODO -->
      <div>
        <app-button [buttonText]="'檢視'" (click)="view()" />
        <app-button [buttonText]="'編輯'" [attachClassName]="['warning']" (click)="edit()" />
      </div>
    </div>
  </div>
</form>
<div class="mt-10"></div>
<nz-pagination
  [nzPageIndex]="currentPage"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzTotal]="searchResultData.length"
/>
