<app-volunteer-information
  *ngIf="volunteerInformationService.isChoiceVolunteer"
  [currentTab]="'服務時數管理表'"
/>
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-1">
      <div class="label">填表日期</div>
      <div class="column-Message">
        <app-dayPicker formControlName="fillingDate" />
        <app-error-message
          [control]="form.get('fillingDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
    </div>
    <div>
      <div class="title">服務內容</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">服務項目</div>
      <div>0060老人服務</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">服務日期</div>
      <div class="column-Message">
        <app-dayPicker
          (ngModelChange)="onServiceDateChange($event)"
          formControlName="serviceDate_start"
        />
        <app-error-message
          [control]="form.get('serviceDate_start')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
        <span class="mx-2">-</span>
        <app-dayPicker
          (ngModelChange)="onServiceDateChange($event)"
          formControlName="serviceDate_end"
        />
        <app-error-message
          [control]="form.get('serviceDate_end')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
        <app-error-message
          [isCustom]="true"
          [condition]="checkDateRange"
          [errorMessage]="'格式錯誤'"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">服務內容</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'150px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_serviceContent"
          formControlName="serviceContent"
        />
        <app-error-message
          [control]="form.get('serviceContent')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">服務時數-小時</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_serviceHours"
          formControlName="serviceContent"
        />
        <app-error-message
          [control]="form.get('serviceContent')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      <div class="label">服務時數-分鐘</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_serviceMinutes"
          formControlName="serviceMinutes"
        />
        <app-error-message
          [control]="form.get('serviceContent')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">受服務人次</div>
      <app-input
        [inputWidth]="'100px'"
        [maxLength]="8"
        [type]="'number'"
        formControlName="serviceSessions"
      />
      <div class="label">服務單位</div>
      <div>
        <app-select
          [selectWidth]="'200px'"
          [options]="selectOptions_serviceUnit"
          formControlName="serviceUnit"
        />
      </div>
    </div>
    <!-- !TODO -->
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">服務志工</div>
      <div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="serviceVolunteerChange($event)"
        >
          <div nz-row>
            <div nz-col>
              <label nz-checkbox nzValue="1">吳小美(11300200001)</label>
            </div>
            <div nz-col>
              <label nz-checkbox nzValue="2">陳大天(11300200002)</label>
            </div>
            <div nz-col>
              <label nz-checkbox nzValue="3">張大壯(11300200003)</label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button
      *ngIf="hd230ListService.isEdit"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      *ngIf="
        hd230ListService.isCreate &&
        !volunteerInformationService.isChoiceVolunteer
      "
      [attachClassName]="['success']"
      [buttonText]="'新增'"
      (click)="create()"
    />
    <app-button
      *ngIf="hd230ListService.isEdit"
      [attachClassName]="['warning']"
      [buttonText]="'刪除'"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('服務時數管理表')"
    />
  </div>
</form>
