<app-volunteer-information
  *ngIf="volunteerInformationService.isChoiceVolunteer"
/>
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-1">
      <div class="label">填表日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="hd230ListService.isView"
          formControlName="fillingDate"
        />
        <app-error-message
          [control]="form.get('fillingDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
    </div>
    <div>
      <div class="title">服務內容</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">服務項目</div>
      <div>0060老人服務</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">服務日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="hd230ListService.isView"
          class="mr-2"
          (ngModelChange)="onServiceDateChange($event)"
          formControlName="serviceDate_start"
        />
        <app-select
          [selectWidth]="'70px'"
          [options]="selectOptions_timeHours"
          formControlName="serviceDate_start_hours"
        />：<app-select
          [selectWidth]="'70px'"
          [options]="selectOptions_timeMinutes"
          formControlName="serviceDate_start_minutes"
        />
        <span class="mx-2">-</span>
        <app-dayPicker
          [disabled]="hd230ListService.isView"
          class="mr-2"
          (ngModelChange)="onServiceDateChange($event)"
          formControlName="serviceDate_end"
        />
        <app-select
          [selectWidth]="'70px'"
          [options]="selectOptions_timeHours"
          formControlName="serviceDate_end_hours"
        />：<app-select
          [selectWidth]="'70px'"
          [options]="selectOptions_timeMinutes"
          formControlName="serviceDate_end_minutes"
        />
        <app-error-message
          [isCustom]="true"
          [condition]="
            form.get('serviceDate_start')?.hasError('invalidDate') ||
            form.get('serviceDate_end')?.hasError('invalidDate') ||
            form.get('serviceDate_start_hours')?.hasError('required') ||
            form.get('serviceDate_start_minutes')?.hasError('required') ||
            form.get('serviceDate_end_hours')?.hasError('required') ||
            form.get('serviceDate_end_minutes')?.hasError('required')
              ? true
              : false
          "
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
        <app-error-message
          [isCustom]="true"
          [condition]="checkDateRange"
          [errorMessage]="'格式錯誤'"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">服務內容</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'150px'"
          [options]="selectOptions_serviceContent"
          formControlName="serviceContent"
        />
        <app-error-message
          [control]="form.get('serviceContent')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">服務時數-小時</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [options]="selectOptions_serviceHours"
          formControlName="serviceContent"
        />
        <app-error-message
          [control]="form.get('serviceContent')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      <div class="label">服務時數-分鐘</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'70px'"
          [options]="selectOptions_serviceMinutes"
          formControlName="serviceMinutes"
        />
        <app-error-message
          [control]="form.get('serviceContent')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">受服務人次</div>
      <app-input
        [inputWidth]="'100px'"
        [maxLength]="8"
        [type]="'number'"
        formControlName="serviceSessions"
      />
      <div class="label">服務單位</div>
      <div>
        <app-select
          [selectWidth]="'200px'"
          [options]="selectOptions_serviceUnit"
          formControlName="serviceUnit"
        />
      </div>
    </div>
    <!-- !TODO -->
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">服務志工</div>
      <div>
        <nz-checkbox-wrapper (nzOnChange)="serviceVolunteerChange($event)">
          <div formGroupName="serviceVolunteer">
            <span *ngFor="let option of serviceVolunteer">
              <label
                [nzDisabled]="option.disabled"
                nz-checkbox
                [formControlName]="option.value"
                [nzValue]="option.value"
              >
                {{ option.label }}
              </label>
            </span>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button
      *ngIf="hd230ListService.isEdit"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      *ngIf="
        hd230ListService.isCreate &&
        !volunteerInformationService.isChoiceVolunteer
      "
      [attachClassName]="['success']"
      [buttonText]="'新增'"
      (click)="create()"
    />
    <app-button
      *ngIf="hd230ListService.isEdit"
      [attachClassName]="['warning']"
      [buttonText]="'刪除'"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab()"
    />
  </div>
</form>
