<app-volunteer-information [currentTab]="'獎勵表揚'" />
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-2 border-bottom-0">
      <div class="label">受獎日期區間</div>
      <div>
        <app-dayPicker
          [startRange]="30"
          [endRange]="0"
          formControlName="awardDate_start"
        />
        <span class="mx-2">-</span>
        <app-dayPicker
          [startRange]="30"
          [endRange]="0"
          formControlName="awardDate_end"
        />
      </div>
      <div class="label">表揚單位</div>
      <div>
        <app-select
          [selectWidth]="'90px'"
          [options]="selectOptions_recognizingUnit"
          formControlName="recognizingUnit"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button [buttonText]="'搜尋'" (click)="search()" />
    <app-button
      [attachClassName]="['success']"
      [buttonText]="'新增'"
      (click)="create()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('獎勵表揚')"
    />
  </div>
</form>
<div class="mt"></div>
<div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
<div class="mt"></div>
<div class="grid-search-container">
  <div class="grid-columns searchTitle">
    <div>受獎日期</div>
    <div>表揚單位</div>
    <div>獎項名稱</div>
    <div>操作</div>
  </div>
  <div
    class="grid-columns tableBorder"
    *ngFor="let searchResult of newSearchResultData; let i = index"
    [ngClass]="{
      'even-row': i % 2 === 1,
      'odd-row': i % 2 !== 1
    }"
  >
    <div>
      {{ searchResult.awardDate }}
    </div>
    <div>
      {{ searchResult.recognizingUnit }}
    </div>
    <div>
      {{ searchResult.awardName }}
    </div>
    <!-- !TODO -->
    <div>
      <app-button [buttonText]="'檢視'" (click)="view()" />
    </div>
  </div>
</div>
<div class="mt-10"></div>
<nz-pagination
  [nzPageIndex]="currentPage"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzTotal]="searchResultData.length"
/>
