<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">發佈日期區間</div>
      <div class="column-Message">
        <app-dayPicker
          (ngModelChange)="onPublicationDateChange($event)"
          [startRange]="30"
          [endRange]="0"
          formControlName="publicationDate_start"
        />
        <span class="mx-2">-</span>
        <app-dayPicker
          (ngModelChange)="onPublicationDateChange($event)"
          [startRange]="30"
          [endRange]="0"
          formControlName="publicationDate_end"
        />
        <app-error-message
          [isCustom]="true"
          [condition]="checkDateRange"
          [errorMessage]="'格式錯誤'"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button [buttonText]="'搜尋'" (click)="search()" />
    <app-button
      [buttonText]="'新增'"
      [attachClassName]="['success']"
      (click)="create()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab()"
    />
  </div>
</form>
<div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
<div class="mt"></div>
<div class="grid-search-container">
  <div class="grid-columns searchTitle">
    <div>發佈日期</div>
    <div>發佈單位</div>
    <div>主旨標題</div>
    <div>發佈者</div>
    <div>操作</div>
  </div>
  <div
    class="grid-columns tableBorder"
    *ngFor="let searchResult of newSearchResultData; let i = index"
    [ngClass]="{
      'even-row': i % 2 === 1,
      'odd-row': i % 2 !== 1
    }"
  >
    <div>
      {{ searchResult.publicationDate }}
    </div>
    <div>
      {{ searchResult.publishingUnit }}
    </div>
    <div>
      {{ searchResult.subjectTitle }}
    </div>
    <div>
      {{ searchResult.publisher }}
    </div>
    <!-- !TODO -->
    <div>
      <app-button [buttonText]="'檢視'" (click)="view()" />
      <app-button
        [buttonText]="'編輯'"
        [attachClassName]="['warning']"
        (click)="edit()"
      />
    </div>
  </div>
</div>
<div class="mt-10"></div>
<nz-pagination
  [nzPageIndex]="currentPage"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzTotal]="searchResultData.length"
/>
