<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-2">
      <div class="label">姓名</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="name"
        />
        <app-error-message
          [control]="form.get('name')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
      <div class="label">員工編號</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'120px'"
          [maxLength]="10"
          formControlName="employeeId"
        />
        <app-error-message
          [control]="form.get('employeeId')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">職稱</div>
      <div>
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="20"
          formControlName="jobTitle"
        />
      </div>
      <div class="label">代理人</div>
      <div>
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="agent"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">電子信箱(系統帳號)</div>
      <div>
        <app-input
          [inputWidth]="'200px'"
          [maxLength]="20"
          formControlName="email"
        />
        <app-error-message
          [control]="form.get('email')"
          errorKey="email"
          errorMessage="Email格式錯誤"
        />
      </div>
      <div class="label">重設密碼</div>
      <div>
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="20"
          [type]="'password'"
          formControlName="resetPassword"
        />
        <app-button
          [buttonText]="'重設'"
          [disabled]="hd640ListService.isView"
          [attachClassName]="
            hd640ListService.isView ? ['secondary'] : ['warning']
          "
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">辦公室電話</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'100px'"
          [type]="'number'"
          [maxLength]="11"
          formControlName="officePhone"
        />
        <app-error-message
          [control]="form.get('officePhone')"
          errorKey="invalidHomePhone"
          errorMessage="格式錯誤'"
        />
      </div>
      <div class="label">公務手機</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'100px'"
          [maxLength]="10"
          [type]="'number'"
          formControlName="workMobile"
        />
        <app-error-message
          [control]="form.get('workMobile')"
          errorKey="invalidMobilePhone"
          errorMessage="格式錯誤"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">任職單位</div>
      <div class="column-Message">
        <app-select
          (ngModelChange)="onDepartmentSelectChange($event)"
          [selectWidth]="'160px'"
          [options]="selectOptions_department"
          formControlName="department"
        />
        <app-error-message
          [control]="form.get('department')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">任職組別</div>
      <div>
        <app-select
          (ngModelChange)="onTeamSelectChange($event)"
          [selectWidth]="'400px'"
          [options]="selectOptions_team"
          formControlName="team"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">任職區域</div>
      <div>
        <app-select
          (ngModelChange)="onRegionSelectChange($event)"
          [selectWidth]="'200px'"
          [options]="selectOptions_region"
          formControlName="region"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">角色</div>
      <div>
        <app-button
          [buttonText]="'設定'"
          [disabled]="hd640ListService.isView"
          [attachClassName]="
            hd640ListService.isView ? ['secondary'] : ['success']
          "
          (click)="showRoleModal()"
        />
        <span>{{ currentSelectRole }}</span>
        <nz-modal
          [(nzVisible)]="isRoleVisible"
          nzTitle="角色設定"
          nzOkText="儲存"
          nzCancelText="關閉"
          (nzOnCancel)="handleRoleCancel()"
          (nzOnOk)="handleRoleOk()"
        >
          <ng-container *nzModalContent>
            <nz-checkbox-wrapper
              style="width: 100%"
              (nzOnChange)="handleRoleChange($event)"
            >
              <div nz-row>
                <div nz-col>
                  <label
                    nz-checkbox
                    [nzDisabled]="hd640ListService.isView"
                    nzValue="系統管理者"
                    formControlName="sysAdmin"
                    >系統管理者</label
                  >
                </div>
                <div nz-col>
                  <label
                    nz-checkbox
                    [nzDisabled]="hd640ListService.isView"
                    nzValue="總會(處長)"
                    formControlName="generalDirector"
                    >總會(處長)</label
                  >
                </div>
                <div nz-col>
                  <label
                    nz-checkbox
                    [nzDisabled]="hd640ListService.isView"
                    nzValue="服務處(處長)"
                    formControlName="serviceDirector"
                    >服務處(處長)</label
                  >
                </div>
                <div nz-col>
                  <label
                    nz-checkbox
                    [nzDisabled]="hd640ListService.isView"
                    nzValue="組長"
                    formControlName="teamLeader"
                    >組長</label
                  >
                </div>
                <div nz-col>
                  <label
                    nz-checkbox
                    [nzDisabled]="hd640ListService.isView"
                    nzValue="站點主責人"
                    formControlName="siteCoordinator"
                    >站點主責人</label
                  >
                </div>
              </div>
            </nz-checkbox-wrapper></ng-container
          >
        </nz-modal>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">功能權限</div>
      <div>
        <div class="bold-text">
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="handleCaseManagementChange($event)"
          >
            <div nz-row>
              <div nz-col class="bold-text">個案管理：</div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="caseManagement_add"
                  nzValue="1"
                  >新增</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="caseManagement_view"
                  nzValue="2"
                  >檢視</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="caseManagement_edit"
                  nzValue="3"
                  >編輯</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="caseManagement_print"
                  nzValue="4"
                  >列印</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="caseManagement_delete"
                  nzValue="5"
                  >刪除</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="handleVolunteerManagementChange($event)"
          >
            <div nz-row>
              <div nz-col class="bold-text">志工管理：</div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="volunteerManagement_add"
                  nzValue="1"
                  >新增</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="volunteerManagement_view"
                  nzValue="2"
                  >檢視</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="volunteerManagement_edit"
                  nzValue="3"
                  >編輯</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="volunteerManagement_print"
                  nzValue="4"
                  >列印</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="volunteerManagement_delete"
                  nzValue="5"
                  >刪除</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="handleReportSectionChange($event)"
          >
            <div nz-row>
              <div nz-col class="bold-text">報表專區：</div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="reportSection_add"
                  nzValue="1"
                  >新增</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="reportSection_view"
                  nzValue="2"
                  >檢視</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="reportSection_edit"
                  nzValue="3"
                  >編輯</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="reportSection_print"
                  nzValue="4"
                  >列印</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="reportSection_delete"
                  nzValue="5"
                  >刪除</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="handleSignatureSectionChange($event)"
          >
            <div nz-row>
              <div nz-col class="bold-text">簽核專區：</div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="signatureSection_add"
                  nzValue="1"
                  >新增</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="signatureSection_view"
                  nzValue="2"
                  >檢視</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="signatureSection_edit"
                  nzValue="3"
                  >編輯</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="signatureSection_print"
                  nzValue="4"
                  >列印</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="signatureSection_delete"
                  nzValue="5"
                  >刪除</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="handleOutcomeStatisticsChange($event)"
          >
            <div nz-row>
              <div nz-col class="bold-text">成果統計專區：</div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="outcomeStatistics_add"
                  nzValue="1"
                  >新增</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="outcomeStatistics_view"
                  nzValue="2"
                  >檢視</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="outcomeStatistics_edit"
                  nzValue="3"
                  >編輯</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="outcomeStatistics_print"
                  nzValue="4"
                  >列印</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="outcomeStatistics_delete"
                  nzValue="5"
                  >刪除</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>
        <div class="bold-text">
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="handleSystemAdminPermissionsChange($event)"
          >
            <div nz-row>
              <div nz-col class="bold-text">系統管理權限：</div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="systemAdminPermissions_add"
                  nzValue="1"
                  >新增</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="systemAdminPermissions_view"
                  nzValue="2"
                  >檢視</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="systemAdminPermissions_edit"
                  nzValue="3"
                  >編輯</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="systemAdminPermissions_print"
                  nzValue="4"
                  >列印</label
                >
              </div>
              <div nz-col>
                <label
                  nz-checkbox
                  [nzDisabled]="hd640ListService.isView"
                  formControlName="systemAdminPermissions_delete"
                  nzValue="5"
                  >刪除</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">單位檢視權限</div>
      <div>
        <app-button
          [buttonText]="'添加'"
          [attachClassName]="['success']"
          (click)="showUnitViewPermissionsModal()"
        />
        <span>{{ currentSelectedUnitViewPermissions }}</span>
        <nz-modal
          [(nzVisible)]="isUnitViewPermissionsVisible"
          nzTitle="單位檢視權限"
          nzCancelText="取消"
          (nzOnCancel)="handleUnitViewPermissionsCancel()"
          nzOkText="確定"
          (nzOnOk)="handleUnitViewPermissionsOk()"
        >
          <ng-container *nzModalContent>
            <app-hondao-unit formControlName="unitViewPermissions" />
          </ng-container>
        </nz-modal>
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">最後登入時間</div>
      <div>113/09/03 13:55</div>
      <div class="label">最近一次登入失敗時間</div>
      <div>113/09/03 13:50</div>
    </div>
    <div class="grid-columns-2">
      <div class="label">最後密碼修改日</div>
      <div>113/08/01</div>
      <div class="label">最後鎖定時間</div>
      <div>113/09/01 13:55</div>
    </div>
    <div class="grid-columns-2 border-bottom-0">
      <div class="label">最後解除鎖定日</div>
      <div>113/08/01</div>
      <div class="label">帳號鎖定/停用</div>
      <div>無</div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button
      *ngIf="hd640ListService.isEdit"
      [attachClassName]="['success']"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      *ngIf="hd640ListService.isCreate"
      [attachClassName]="['success']"
      [buttonText]="'新增'"
      (click)="create()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('社工帳號管理')"
    />
  </div>
</form>
