<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-1">
      <div class="label">申請日期區間</div>
      <div class="column-Message">
        <app-dayPicker
          (ngModelChange)="onApplicationDateChange($event)"
          [startRange]="30"
          [endRange]="0"
          formControlName="applicationDate_start"
        />
        <span class="mx-2">-</span>
        <app-dayPicker
          (ngModelChange)="onApplicationDateChange($event)"
          [startRange]="30"
          [endRange]="0"
          formControlName="applicationDate_end"
        />
        <app-error-message
          [isCustom]="true"
          [condition]="checkDateRange"
          [errorMessage]="'格式錯誤'"
        />
      </div>
    </div>
    <div class="grid-columns-2 border-bottom-0">
      <div class="label">表單名稱</div>
      <div>
        <app-select
          [selectWidth]="'140px'"
          [options]="selectOptions_formName"
          formControlName="formName"
        />
      </div>
      <div class="label">簽核狀態</div>
      <div>
        <app-select
          [selectWidth]="'90px'"
          [options]="selectOptions_approvalStatus"
          formControlName="approvalStatus"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button [buttonText]="'搜尋'" (click)="search()" />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab()"
    />
  </div>
</form>
<div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
<div class="mt"></div>
<div class="grid-search-container">
  <div class="grid-columns searchTitle">
    <div>表單名稱</div>
    <div>個案姓名</div>
    <div>申請人</div>
    <div>填表日期</div>
    <div>申請日期</div>
    <div>簽核狀態</div>
    <div>操作</div>
  </div>
  <div
    class="grid-columns tableBorder"
    *ngFor="let searchResult of newSearchResultData; let i = index"
    [ngClass]="{
      'even-row': i % 2 === 1,
      'odd-row': i % 2 !== 1
    }"
  >
    <div>
      {{ searchResult.formName }}
    </div>
    <div>
      {{ searchResult.caseName }}
    </div>
    <div>
      {{ searchResult.applicant }}
    </div>
    <div>
      {{ searchResult.formFillDate }}
    </div>
    <div>
      {{ searchResult.applicationDate }}
    </div>
    <div>
      {{ searchResult.approvalStatus }}
    </div>
    <!-- !TODO -->
    <div>
      <app-button [buttonText]="'檢視'" (click)="view()" />
    </div>
  </div>
</div>
<div class="mt-10"></div>
<nz-pagination
  [nzPageIndex]="currentPage"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzTotal]="searchResultData.length"
/>
