<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-2">
      <div class="label">填表日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="!hd270ListService.isCreate"
          formControlName="fillingDate"
        />
        <app-error-message
          [control]="form.get('fillingDate')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      @if(hd270ListService.isSurrender){
      <div class="label">退保日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="!hd270ListService.isSurrender"
          formControlName="terminationDate"
        />
        <app-error-message
          [control]="form.get('terminationDate')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      }
    </div>
    <div>
      <div class="title">保險內容</div>
    </div>
    <div class="grid-columns-2">
      <div class="label">保險公司</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_insuranceStatus"
          formControlName="insuranceCompany_select"
        />
        <app-error-message
          class="mr-5"
          [control]="form.get('insuranceCompany_select')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
      <div class="label">經費來源</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'90px'"
          [options]="selectOptions_fundingSource"
          formControlName="fundingSource"
        />
        <app-error-message
          [control]="form.get('fundingSource')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">投保類別</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_insuranceType"
          formControlName="insuranceType"
        />
        <app-error-message
          [control]="form.get('insuranceType')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">投保日期起迄</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="!hd270ListService.isCreate"
          (ngModelChange)="onInsuranceDateChange($event)"
          formControlName="insuranceDate_start"
        />
        <app-error-message
          [control]="form.get('insuranceDate_start')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
        <span class="mx-2">-</span>
        <app-dayPicker
          [disabled]="!hd270ListService.isCreate"
          (ngModelChange)="onInsuranceDateChange($event)"
          formControlName="insuranceDate_end"
        />
        <app-error-message
          [control]="form.get('insuranceDate_end')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
        <app-error-message
          [isCustom]="true"
          [condition]="checkDateRange"
          [errorMessage]="'格式錯誤'"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">保障內容</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'180px'"
          [maxLength]="50"
          formControlName="coverageDetails"
        />
        <app-error-message
          [control]="form.get('coverageDetails')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
      <div class="label">投保費用</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="insuranceCost"
        />
        <app-error-message
          [control]="form.get('insuranceCost')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-2">
      <div class="label">政府補助/人</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="governmentSubsidy"
        />
        <app-error-message
          [control]="form.get('governmentSubsidy')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
      <div class="label">單位自籌/人</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'90px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="selfFunding"
        />
        <app-error-message
          [control]="form.get('selfFunding')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">理賠內容</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'180px'"
          [maxLength]="50"
          formControlName="claimDetails"
        />
        <app-error-message
          [control]="form.get('claimDetails')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">死亡/殘廢</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="deathOrDisabilityCoverage_million"
        />
        <span class="mr-5">百萬</span>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="deathOrDisabilityCoverage_tenThousand"
        />
        <span class="mr-5">萬</span>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="deathOrDisabilityCoverage_thousand"
        />
        <span class="mr-5">千</span>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="deathOrDisabilityCoverage_hundred"
        />
        <span>百</span>
        <app-error-message
          *ngIf="hd270ListService.isCreate"
          [isCustom]="true"
          [condition]="
            form.get('deathOrDisabilityCoverage_million')?.value === '' ||
            form.get('deathOrDisabilityCoverage_tenThousand')?.value === '' ||
            form.get('deathOrDisabilityCoverage_thousand')?.value === '' ||
            form.get('deathOrDisabilityCoverage_hundred')?.value === ''
          "
          [isTouched]="false"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">傷害醫療</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="injuryMedicalCoverage_tenThousand"
        />
        <span class="mr-5">萬</span>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="injuryMedicalCoverage_thousand"
        />
        <span class="mr-5">千</span>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="injuryMedicalCoverage_hundred"
        />
        <span>百</span>
        <app-error-message
          *ngIf="hd270ListService.isCreate"
          [isCustom]="true"
          [condition]="
            form.get('injuryMedicalCoverage_tenThousand')?.value === '' ||
            form.get('injuryMedicalCoverage_thousand')?.value === '' ||
            form.get('injuryMedicalCoverage_hundred')?.value === ''
          "
          [isTouched]="false"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">住院日額</div>
      <div class="column-Message">
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="hospitalizationDailyAllowance_tenThousand"
        />
        <span class="mr-5">萬</span>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="hospitalizationDailyAllowance_thousand"
        />
        <span class="mr-5">千</span>
        <app-input
          [inputWidth]="'70px'"
          [maxLength]="8"
          [type]="'number'"
          formControlName="hospitalizationDailyAllowance_hundred"
        />
        <span>百</span>
        <app-error-message
          *ngIf="hd270ListService.isCreate"
          [isCustom]="true"
          [condition]="
            form.get('hospitalizationDailyAllowance_tenThousand')?.value ===
              '' ||
            form.get('hospitalizationDailyAllowance_thousand')?.value === '' ||
            form.get('hospitalizationDailyAllowance_hundred')?.value === ''
          "
          [isTouched]="false"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">服務外的保障範圍</div>
      <div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="coverageOutsideServiceScopeChange($event)"
        >
          <div nz-row>
            <div nz-col>
              <label nz-checkbox nzValue="1">志工會議</label>
            </div>
            <div nz-col>
              <label nz-checkbox nzValue="2">教育訓練</label>
            </div>
            <div nz-col>
              <label nz-checkbox nzValue="3">外縣市活動</label>
            </div>
            <div nz-col>
              <label nz-checkbox nzValue="4">其他</label>
              <span
                ><app-input
                  [inputWidth]="'100px'"
                  [maxLength]="30"
                  formControlName="coverageOutsideServiceScope_other"
                />
              </span>
            </div>
            <div nz-col>
              <app-error-message
                [control]="form.get('coverageOutsideServiceScope')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必選"
              />
            </div>
            <div nz-col>
              <app-error-message
                [control]="form.get('coverageOutsideServiceScope_other')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必填"
              />
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
    <div
      class="grid-columns-1"
      [ngClass]="{ 'border-bottom-0': hd270ListService.isSurrender }"
    >
      <div class="label">投保單位</div>
      <div>
        <app-select
          [selectWidth]="'200px'"
          [options]="selectOptions_insuredUnit"
          formControlName="insuredUnit"
        />
      </div>
    </div>
    <!-- !TODO -->
    <div
      *ngIf="hd270ListService.isCreate"
      class="grid-columns-1 border-bottom-0"
    >
      <div class="label">投保人員</div>
      <div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="insuredPersonChange($event)"
        >
          <div nz-row>
            <div nz-col>
              <label nz-checkbox nzValue="1">吳小美</label>
            </div>
            <div nz-col>
              <label nz-checkbox nzValue="2">陳大天</label>
            </div>
            <div nz-col>
              <label nz-checkbox nzValue="3">張大壯</label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <!-- !TODO -->
    <app-button
      *ngIf="hd270ListService.isCreate"
      [attachClassName]="['success']"
      [buttonText]="'新增'"
      (click)="create()"
    />
    <app-button
      *ngIf="hd270ListService.isSurrender"
      [attachClassName]="['success']"
      [buttonText]="'送出申請'"
      (click)="send()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab(tabName)"
    />
  </div>
</form>
