<form [formGroup]="form">
  <div class="grid-container">
    <div class="title">個案管理_表單匯出</div>
    <div class="grid-columns-2">
      <div class="label">服務狀態</div>
      <div>
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_serviceStatus"
          formControlName="serviceStatus"
        />
      </div>
      <div class="label">個案姓名</div>
      <div>
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="caseName"
        />
      </div>
    </div>
    <div class="grid-columns-2 border-bottom-0">
      <div class="label">開案日期</div>
      <div class="column-Message">
        <app-dayPicker
          (ngModelChange)="onCaseOpeningDateChange($event)"
          [startRange]="30"
          [endRange]="0"
          formControlName="caseOpeningDate_start"
        />
        <span class="mx-2">-</span>
        <app-dayPicker
          (ngModelChange)="onCaseOpeningDateChange($event)"
          [startRange]="30"
          [endRange]="0"
          formControlName="caseOpeningDate_end"
        />
        <app-error-message
          [isCustom]="true"
          [condition]="checkDateRange"
          [errorMessage]="'格式錯誤'"
        />
      </div>
      <div class="label">個案分級</div>
      <div>
        <app-select
          [selectWidth]="'100px'"
          [options]="selectOptions_caseClassification"
          formControlName="caseClassification"
        />
      </div>
    </div>
  </div>
  <div colspan="4" class="buttonArea">
    <!-- !TODO -->
    <app-button [buttonText]="'搜尋'" (click)="search()" />
    <app-button
      [buttonText]="'報表匯出'"
      [attachClassName]="['success']"
      (click)="showModal()"
    />
    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="表單匯出"
      (nzOnCancel)="handleCancel()"
      [nzCancelText]="'取消'"
      (nzOnOk)="export()"
      [nzOkText]="'匯出'"
    >
      <ng-container *nzModalContent>
        <div class="bold-text">
          當前已選個案：<span>{{ currentSelectedCase }}</span>
        </div>
        <div class="mt"></div>
        <div class="bold-text">請選擇要匯出的檔案</div>
        <nz-checkbox-wrapper
          style="width: 100%"
          (nzOnChange)="handleExportFileChange($event)"
        >
          <div nz-row>
            <div nz-col nzSpan="24">
              <label nz-checkbox nzValue="1">個案基本資料表</label>
            </div>
            <div nz-col nzSpan="24">
              <label>
                檔案類型：
                <app-select
                  [selectWidth]="'90px'"
                  
                  [options]="selectOptions_fileType"
                  formControlName="caseBasicInfo_fileType"
              /></label>
              <label>
                是否需要隱碼：
                <app-select
                  [selectWidth]="'70px'"
                  
                  [options]="selectOptions_trueOrFalse"
                  formControlName="caseBasicInfo_needsAnonymization"
              /></label>
            </div>
            <div nz-col nzSpan="24">
              <label nz-checkbox nzValue="2">個案訪視紀錄</label>
            </div>
            <div nz-col nzSpan="24">
              <label>
                檔案類型：
                <app-select
                  [selectWidth]="'90px'"
                  
                  [options]="selectOptions_fileType"
                  formControlName="caseVisitRecord_fileType"
              /></label>
              <label>
                是否需要隱碼：
                <app-select
                  [selectWidth]="'70px'"
                  
                  [options]="selectOptions_trueOrFalse"
                  formControlName="caseVisitRecord_needsAnonymization"
              /></label>
            </div>
            <div nz-col>
              <label nz-checkbox nzValue="3ˇ">個案清冊(Excel)</label>
            </div>
            <div nz-col>
              <label nz-checkbox nzValue="4">服務紀錄清冊(Excel)</label>
            </div>
            <div nz-col>
              <label nz-checkbox nzValue="5">個案生活品質量表清冊(Excel)</label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </ng-container>
    </nz-modal>
    <app-button
      [buttonText]="'關閉'"
      [attachClassName]="['danger']"
      (click)="closeTab('表單匯出_個案清冊')"
    />
  </div>
</form>
<div class="mt"></div>
<div class="hd100-list-search">
  <div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
  <div class="mt"></div>
  <div class="grid-search-container">
    <div class="grid-columns searchTitle">
      <div>服務狀態</div>
      <div>個案姓名</div>
      <div>性別</div>
      <div>生日</div>
      <div>主責人</div>
      <div>開案日期</div>
      <div>個案分級</div>
      <div>操作</div>
    </div>
    <div
      class="grid-columns tableBorder"
      *ngFor="let searchResult of newSearchResultData; let i = index"
      [ngClass]="{
        'even-row': i % 2 === 1,
        'odd-row': i % 2 !== 1
      }"
    >
      <div>
        {{ searchResult.serviceStatus }}
      </div>
      <div>
        {{ searchResult.caseName }}
      </div>
      <div>
        {{ searchResult.gender }}
      </div>
      <div>
        {{ searchResult.dateOfBirth }}
      </div>
      <div>
        {{ searchResult.responsiblePerson }}
      </div>
      <div>
        {{ searchResult.caseOpeningDate }}
      </div>
      <div>
        {{ searchResult.caseClassification }}
      </div>
      <!-- !TODO -->
      <div>
        <app-button
          *ngIf="!searchResult.isChoice"
          [attachClassName]="['success']"
          (click)="pick(searchResult)"
          [buttonText]="'選取'"
        />
        <app-button
          *ngIf="searchResult.isChoice"
          [attachClassName]="['danger']"
          (click)="cancelPick(searchResult)"
          [buttonText]="'取消選取'"
        />
      </div>
    </div>
  </div>
  <div class="mt-10"></div>
  <nz-pagination
    [nzPageIndex]="currentPage"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="onPageIndexChange($event)"
    [nzTotal]="searchResultData.length"
  />
</div>
