<app-volunteer-information
  *ngIf="volunteerInformationService.isChoiceVolunteer"
  [currentTab]="'教育訓練表'"
/>
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-1">
      <div class="label">填表日期</div>
      <div class="column-Message">
        <app-dayPicker formControlName="submissionDate" />
        <app-error-message
          [control]="form.get('submissionDate')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div>
      <div class="title">訓練內容</div>
      <div class="grid-columns-1">
        <div class="label">受訓日期</div>
        <div>
          <app-dayPicker formControlName="trainingDate_start" />
          <span class="mx-1">-</span>
          <app-dayPicker formControlName="trainingDate_end" />
        </div>
      </div>
      <div class="grid-columns-1">
        <div class="label">訓練單位</div>
        <div class="column-Message">
          <app-select
            [selectWidth]="'90px'"
            [defaultPlaceHolder]="false"
            [options]="selectOptions_trainingUnit"
            formControlName="trainingUnit"
          />
          <app-error-message
            [control]="form.get('trainingUnit')"
            [isTouched]="false"
            errorKey="required"
            errorMessage="必選"
          />
          <app-input
            *ngIf="form.get('trainingUnit')?.value === '外單位'"
            [inputWidth]="'130px'"
            [maxLength]="30"
            formControlName="trainingUnit_outside"
          />
          <span *ngIf="form.get('trainingUnit')?.value === '本單位'"
            >財團法人弘道老人福利基金會</span
          >
          <app-error-message
            *ngIf="form.get('trainingUnit')?.value === '外單位'"
            [control]="form.get('trainingUnit_outside')"
            [isTouched]="false"
            errorKey="required"
            errorMessage="必填"
          />
        </div>
      </div>
      <div class="grid-columns-2">
        <div class="label">訓練課程</div>
        <div class="column-Message">
          <app-select
            (ngModelChange)="handleTrainingCourse($event)"
            [selectWidth]="'130px'"
            [defaultPlaceHolder]="false"
            [options]="selectOptions_trainingCourse"
            formControlName="trainingCourse"
          />
          <app-error-message
            [control]="form.get('trainingCourse')"
            [isTouched]="false"
            errorKey="required"
            errorMessage="必選"
          />
        </div>
        <div class="label">課程名稱</div>
        <div>
          <app-input
            [inputWidth]="'120px'"
            [maxLength]="20"
            formControlName="courseName"
          />
        </div>
      </div>
      <div class="grid-columns-2">
        <div class="label">課程領域</div>
        <div class="column-Message">
          <app-select
            [selectWidth]="'110px'"
            [defaultPlaceHolder]="false"
            [options]="selectOptions_courseField"
            formControlName="courseField"
          />
          <app-error-message
            [control]="form.get('courseField')"
            [isTouched]="false"
            errorKey="required"
            errorMessage="必選"
          />
        </div>
        <div class="label">訓練次數</div>
        <div class="column-Message">
          <app-input
            [inputWidth]="'70px'"
            [maxLength]="1"
            [type]="'number'"
            formControlName="trainingSessions"
          />
          <app-error-message
            [control]="form.get('trainingSessions')"
            [isTouched]="false"
            errorKey="required"
            errorMessage="必填"
          />
        </div>
      </div>
      <div class="grid-columns-2">
        <div class="label">訓練時數-小時</div>
        <div class="column-Message">
          <app-select
            [selectWidth]="'70px'"
            [defaultPlaceHolder]="false"
            [options]="selectOptions_trainingHours"
            formControlName="trainingHours"
          />
          <app-error-message
            [control]="form.get('trainingHours')"
            [isTouched]="false"
            errorKey="required"
            errorMessage="必選"
          />
        </div>
        <div class="label">訓練時數-分鐘</div>
        <div class="column-Message">
          <app-select
            [selectWidth]="'70px'"
            [defaultPlaceHolder]="false"
            [options]="selectOptions_trainingMinutes"
            formControlName="trainingMinutes"
          />
          <app-error-message
            [control]="form.get('trainingMinutes')"
            [isTouched]="false"
            errorKey="required"
            errorMessage="必選"
          />
        </div>
      </div>
      <div class="grid-columns-2 border-bottom-0">
        <div class="label">核定字號</div>
        <div>
          <app-input
            [inputWidth]="'130px'"
            [maxLength]="25"
            formControlName="approvalNumber"
          />
        </div>
        <div class="label">核定日期</div>
        <div>
          <app-dayPicker formControlName="approvalDate" />
        </div>
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <!-- !TODO -->
    <app-button
      *ngIf="hd210ListService.isCreate"
      [attachClassName]="['success']"
      [buttonText]="'新增'"
      (click)="create()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('教育訓練表')"
    />
  </div>
</form>
