<app-case-information [currentTab]="'個案結案表'" />
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="title">簽核</div>
    <div class="grid-columns-1">
      <div class="label">簽核狀態</div>
      <div class="bold-text">{{ hd100ListService.isView ? "待簽" : "" }}</div>
    </div>
    <div class="title">訪視概況</div>
    <div class="grid-columns-2">
      <div class="label">填表日期</div>
      <div>
        <app-dayPicker
          [disabled]="
            (this.hd180ListService.isView &&
              this.hd100FormService.currentRoute === 'hd180') ||
            (this.hd100ListService.isView &&
              this.hd100FormService.currentRoute === 'hd100')
          "
          formControlName="formFillingDate"
        />
      </div>
      <div class="label">結案日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="
            (this.hd180ListService.isView &&
              this.hd100FormService.currentRoute === 'hd180') ||
            (this.hd100ListService.isView &&
              this.hd100FormService.currentRoute === 'hd100')
          "
          formControlName="closureDate"
        />
        <app-error-message
          [control]="form.get('closureDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">結案原因</div>
      <div class="column-Message">
        <app-select
          [selectWidth]="'200px'"
          [defaultPlaceHolder]="false"
          [options]="selectOptions_closureReason"
          (ngModelChange)="handleClosureReasonChange($event)"
          formControlName="closureReason"
        />
        <app-input
          *ngIf="form.get('closureReason')?.value === '其他'"
          [inputWidth]="'200px'"
          [maxLength]="30"
          formControlName="closureReason_other"
        />
        <app-error-message
          [control]="form.get('closureReason')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
        <app-error-message
          [control]="form.get('closureReason_other')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">重要事項概要</div>
      <div>
        <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
          <textarea
            rows="4"
            nz-input
            [maxlength]="500"
            formControlName="importantSummary"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('importantSummary')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div>
      <div class="title">主管簽核</div>
    </div>
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">單位主管意見</div>
      <!-- !TODO -->
      <div>
        <app-button [attachClassName]="['success']" [buttonText]="'同意'" />
        <app-button [attachClassName]="['danger']" [buttonText]="'退回'" />
        <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
          <textarea
            rows="4"
            nz-input
            [maxlength]="500"
            formControlName="supervisorOpinion"
          ></textarea>
        </nz-textarea-count>
        <app-error-message
          [control]="form.get('supervisorOpinion')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <div>
      <app-button
        *ngIf="hd180ListService.isEdit"
        [buttonText]="'儲存'"
        (click)="save()"
      />
      <app-button
        *ngIf="hd180ListService.isCanReview"
        [buttonText]="'送審'"
        [attachClassName]="['success']"
        (click)="review()"
      />
      <app-button
        [buttonText]="'關閉'"
        [attachClassName]="['danger']"
        (click)="closeTab('個案結案表')"
      />
    </div>
  </div>
</form>
