<app-volunteer-information
  *ngIf="volunteerInformationService.isChoiceVolunteer"
  [currentTab]="'個督紀錄'"
/>
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">上傳日期區間</div>
      <div class="column-Message">
        <app-dayPicker
          (ngModelChange)="onUploadDateChange($event)"
          [startRange]="30"
          [endRange]="0"
          formControlName="uploadDate_start"
        />
        <span class="mx-2">-</span>
        <app-dayPicker
          (ngModelChange)="onUploadDateChange($event)"
          [startRange]="30"
          [endRange]="0"
          formControlName="uploadDate_end"
        />
        <app-error-message
          [isCustom]="true"
          [condition]="checkDateRange"
          [errorMessage]="'格式錯誤'"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <app-button [buttonText]="'搜尋'" (click)="search()" />
    <nz-upload
      class="divCenter"
      nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
    >
      <app-button [attachClassName]="['success']" [buttonText]="'上傳紀錄表'" />
    </nz-upload>
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('個督紀錄')"
    />
  </div>
</form>
<div class="mt"></div>
<div class="message">搜尋結果: 共{{ searchResultData.length }}筆</div>
<div class="mt"></div>
<div class="grid-search-container">
  <div class="grid-columns searchTitle">
    <div>上傳日期</div>
    <div>檔案名稱</div>
    <div>操作</div>
  </div>
  <div
    class="grid-columns tableBorder"
    *ngFor="let searchResult of newSearchResultData; let i = index"
    [ngClass]="{
      'even-row': i % 2 === 1,
      'odd-row': i % 2 !== 1
    }"
  >
    <div>
      {{ searchResult.uploadDate }}
    </div>
    <div>
      {{ searchResult.fileName }}
    </div>
    <!-- !TODO -->
    <div class="divCenter">
      <app-button [buttonText]="'檢視'" />
      <app-button [attachClassName]="['success']" [buttonText]="'下載'" />
      <app-button [attachClassName]="['danger']" [buttonText]="'刪除'" />
    </div>
  </div>
</div>
<div class="mt-10"></div>
<nz-pagination
  [nzPageIndex]="currentPage"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzTotal]="searchResultData.length"
/>
