<app-volunteer-information />
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div class="grid-columns-2">
      <div class="label">填表日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="hd220ListService.isView"
          formControlName="formDate"
        />
        <app-error-message
          [control]="form.get('formDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
      <div class="label">表揚單位</div>
      <div class="column-Message">
        <app-select
          (ngModelChange)="onPraiseUnitSelectChange($event)"
          [selectWidth]="'100px'"
          [options]="selectOptions_praiseUnit"
          formControlName="praiseUnit"
        />
        <app-error-message
          [control]="form.get('praiseUnit')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必選"
        />
      </div>
    </div>
    <div>
      <div class="title">表揚內容</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">外單位表揚</div>
      <div>
        表揚單位名稱：
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="externalUnit_praiseUnitName"
        />
        <div class="my-2">
          獎項名稱：
          <app-input
            [inputWidth]="'120px'"
            [maxLength]="20"
            formControlName="externalUnit_awardName"
          />
        </div>
        <div>
          具體事蹟：
          <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
            <textarea
              rows="4"
              nz-input
              [maxlength]="500"
              formControlName="externalUnit_specificDeeds"
            ></textarea>
          </nz-textarea-count>
        </div>
        <app-error-message
          [control]="form.get('externalUnit_specificDeeds')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">本單位表揚</div>
      <div>
        <div class="column-Message">
          本單位表揚：
          <app-select
            [selectWidth]="'250px'"
            [options]="selectOptions_unitPraise"
            formControlName="unitPraise"
          />
          <app-error-message
            [control]="form.get('unitPraise')"
            [isTouched]="false"
            errorKey="required"
            errorMessage="必選"
          />
        </div>
        <div>
          具體事蹟：
          <nz-textarea-count [nzMaxCharacterCount]="500" data-count="0/500">
            <textarea
              rows="4"
              nz-input
              [maxlength]="500"
              formControlName="specificDeeds"
            ></textarea>
          </nz-textarea-count>
        </div>
        <app-error-message
          [control]="form.get('specificDeeds')"
          [isTouched]="false"
          errorKey="required"
          errorMessage="必填"
        />
      </div>
    </div>
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">受獎日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="hd220ListService.isView"
          formControlName="awardDate"
        />
        <app-error-message
          [control]="form.get('awardDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <!-- !TODO -->
    <app-button
      *ngIf="hd220ListService.isCreate"
      [attachClassName]="['success']"
      [buttonText]="'新增'"
      (click)="create()"
    />
    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab()"
    />
  </div>
</form>
