// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-ngzorro-primary: mat.define-palette(mat.$indigo-palette);
$angular-ngzorro-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$angular-ngzorro-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-ngzorro-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-ngzorro-primary,
      accent: $angular-ngzorro-accent,
      warn: $angular-ngzorro-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-ngzorro-theme);

@import "../node_modules/ng-zorro-antd/ng-zorro-antd";

@import "../node_modules/bootstrap";

// 表單區塊
.grid-container {
  width: 100%;
  height: auto;
  padding: 0px 10px;
  border: #dddfeb solid 1.5px;
}

// 搜尋區塊
.grid-search-container {
  width: 100%;
  height: auto;
  border: #dddfeb solid 1.5px;
}

// 表單大標題
.title {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-columns: (auto, 1fr);
  font-weight: bold;
  font-size: 20px;
  color: #4e73e1;
  background: #b3e0e6;
  margin: 7px 0px;
  padding-left: 5px;
  border: #dddfeb solid 1px;
}

// 表單子標題
.label {
  font-weight: bold;
  color: #4e73e1;
  background-color: #e1f5f8;
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 7px 5px;
}

// 表單拆分為一行
.grid-columns-1 {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 10px;
  padding: 10px;
  border-bottom: #dddfeb solid 1px;
}

// 表單拆分為兩行
.grid-columns-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr 2.5fr);
  gap: 10px;
  padding: 10px;
  border-bottom: #dddfeb solid 1px;
}

// 錯誤訊息縮為一行
.column-Message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// 底部去除邊框
.border-bottom-0 {
  border-bottom: 0px;
}

// 表單按鈕區塊
.buttonArea {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  border: #dddfeb solid 1px;
  background: #f8f8f8;
}

// 搜尋結果標題
.searchTitle {
  background: linear-gradient(to bottom, #d5dcbe, #b5ca7f);
  font-weight: bold;
  font-size: 18px;
  color: #4e73e1;
}

// 搜尋結果內容邊框
.tableBorder {
  border: #dddfeb solid 1.5px;
}

// 粗體字
.bold-text {
  font-weight: bold;
  font-size: 16px;
}

// 上外邊距5px
.mt {
  margin-top: 5px;
}

// 上外邊距10px
.mt-10 {
  margin-top: 10px;
}

// 上外邊距20px
.mt-20 {
  margin-top: 20px;
}

// 搜尋結果奇數行
.odd-row {
  background: #fffdf2;
}

// 搜尋結果偶數行
.even-row {
  background-color: #f1f6fd;
}

// 禁用的背景色
.disableBackground {
  background-color: #f0f0f0;
}

// 搜尋結果訊息
.message {
  background: #f2ddf1 url(./assets/img/information.png) 8px 50% no-repeat;
  border: 1px solid #fa58f4;
  color: #b4055f;
  margin: 10px 0 5px 0;
  padding: 5px 5px 5px 30px;
  font-size: 20px;
}

.table-container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(83, 83, 83, 0.1);
}

.bordered-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #cccccc;

  th,
  td {
    border: 1px solid #cccccc;
    padding: 6px;
    text-align: left;
  }
}

.custom-header {
  background: linear-gradient(to bottom, #e6f0fb, #cfe6ff);
}

.custom-cell {
  background-color: #fffdf2;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
