<app-case-information [currentTab]="'生活品質問卷'" />
<div class="mt"></div>
<form [formGroup]="form">
  <div class="grid-container">
    <div>
      <div class="title">訪視概況</div>
    </div>
    <div class="grid-columns-2">
      <!-- !TODO -->
      <div class="label disableBackground">個案姓名</div>
      <div>
        <app-input
          [inputWidth]="'130px'"
          [maxLength]="30"
          formControlName="caseName"
        />
      </div>
      <div class="label">訪視日期</div>
      <div class="column-Message">
        <app-dayPicker
          [disabled]="hd160ListService.isView"
          formControlName="visitDate"
        />
        <app-error-message
          [control]="form.get('visitDate')"
          [isTouched]="false"
          errorKey="invalidDate"
          errorMessage="必選"
        />
      </div>
    </div>
    <div>
      <div class="title">調查問卷</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">生理</div>
      <div class="column-Message">
        <div class="bold-text">近6個月內，您覺得身體不適的情況有獲得改善。</div>
        <div>
          <app-select
            [selectWidth]="'120px'"
            [defaultPlaceHolder]="false"
            [options]="selectOptions_sheet"
            formControlName="physiology"
          />
          <label>
            <app-error-message
              [control]="form.get('physiology')"
              [isTouched]="false"
              errorKey="required"
              errorMessage="必選"
            />
          </label>
        </div>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">獨立</div>
      <div>
        <div class="column-Message">
          <div class="bold-text">
            近6個月內，您覺得自己在部份生活自理能力有維持或提升。
          </div>
          <div>
            <app-select
              [selectWidth]="'120px'"
              [defaultPlaceHolder]="false"
              [options]="selectOptions_sheet"
              formControlName="independent_question1"
            />
            <label>
              <app-error-message
                [control]="form.get('independent_question1')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必選"
              />
            </label>
          </div>
        </div>
        <div class="column-Message my-3">
          <div class="bold-text">
            近6個月內，您覺得自己或家人的生活壓力有獲得減輕。
          </div>
          <div class="column-Message">
            <app-select
              [selectWidth]="'120px'"
              [defaultPlaceHolder]="false"
              [options]="selectOptions_sheet"
              formControlName="independent_question2"
            />
            <app-error-message
              [control]="form.get('independent_question2')"
              [isTouched]="false"
              errorKey="required"
              errorMessage="必選"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">心理</div>
      <div>
        <div class="column-Message">
          <div class="bold-text">
            近6個月內，您仍常有負面的感受（如孤單、傷心、緊張、焦慮、憂鬱等）。
          </div>
          <div class="column-Message">
            <app-select
              [selectWidth]="'120px'"
              [defaultPlaceHolder]="false"
              [options]="selectOptions_sheet"
              formControlName="psychological_question1"
            />
            <label>
              <app-error-message
                [control]="form.get('psychological_question1')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必選"
            /></label>
          </div>
        </div>
        <div class="column-Message my-3">
          <div class="bold-text">近6個月內，您感覺被尊重和接納。</div>
          <div class="column-Message">
            <app-select
              [selectWidth]="'120px'"
              [defaultPlaceHolder]="false"
              [options]="selectOptions_sheet"
              formControlName="psychological_question2"
            />
            <label>
              <app-error-message
                [control]="form.get('psychological_question2')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必選"
            /></label>
          </div>
        </div>
        <div class="column-Message">
          <div class="bold-text">近6個月內，您在日常生活中更常獲得成就感。</div>
          <div class="column-Message">
            <app-select
              [selectWidth]="'120px'"
              [defaultPlaceHolder]="false"
              [options]="selectOptions_sheet"
              formControlName="psychological_question3"
            />
            <label>
              <app-error-message
                [control]="form.get('psychological_question3')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必選"
              />
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">社會</div>
      <div class="column-Message">
        <div class="bold-text">近6個月內，您覺得自己增加了人際互動的機會。</div>
        <div class="column-Message">
          <app-select
            [selectWidth]="'120px'"
            [defaultPlaceHolder]="false"
            [options]="selectOptions_sheet"
            formControlName="social"
          />
          <label>
            <app-error-message
              [control]="form.get('social')"
              [isTouched]="false"
              errorKey="required"
              errorMessage="必選"
            />
          </label>
        </div>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">環境</div>
      <div>
        <div class="column-Message my-3">
          <div class="bold-text">
            近6個月內，您能方便得到每日生活所需的資訊。
          </div>
          <div class="column-Message">
            <app-select
              [selectWidth]="'120px'"
              [defaultPlaceHolder]="false"
              [options]="selectOptions_sheet"
              formControlName="environment_question1"
            />
            <label>
              <app-error-message
                [control]="form.get('environment_question1')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必選"
              />
            </label>
          </div>
        </div>
        <div class="column-Message my-3">
          <div class="bold-text">近6個月內，您更有機會做自己想做的事情。</div>
          <div class="column-Message">
            <app-select
              [selectWidth]="'120px'"
              [defaultPlaceHolder]="false"
              [options]="selectOptions_sheet"
              formControlName="environment_question2"
            />
            <label>
              <app-error-message
                [control]="form.get('environment_question2')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必選"
              />
            </label>
          </div>
        </div>
        <div class="column-Message my-3">
          <div class="bold-text">近6個月內，您在日常生活中感到安全。</div>
          <div class="column-Message">
            <app-select
              [selectWidth]="'120px'"
              [defaultPlaceHolder]="false"
              [options]="selectOptions_sheet"
              formControlName="environment_question3"
            />
            <label>
              <app-error-message
                [control]="form.get('environment_question3')"
                [isTouched]="false"
                errorKey="required"
                errorMessage="必選"
            /></label>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">整體</div>
      <div class="column-Message">
        <div class="bold-text">
          整體來說，弘道提供服務後，您對生活感到滿意。
        </div>
        <div class="column-Message">
          <app-select
            [selectWidth]="'120px'"
            [defaultPlaceHolder]="false"
            [options]="selectOptions_sheet"
            formControlName="overall"
          />
          <label>
            <app-error-message
              [control]="form.get('overall')"
              [isTouched]="false"
              errorKey="required"
              errorMessage="必選"
          /></label>
        </div>
      </div>
    </div>
    <div class="grid-columns-1">
      <div class="label">填寫人員</div>
      <div>
        <div>王小明</div>
      </div>
    </div>
    <div>
      <div class="title">問卷結果統計</div>
    </div>
    <div class="grid-columns-1">
      <div class="label">填寫結果統計：</div>
      <div>
        <span class="my-3"
          >生理面：{{
            physiology_score(form.get("physiology")?.value).toFixed(1)
          }}</span
        >
        <span class="my-3"
          >獨立面：{{
            independent_score(
              form.get("independent_question1")?.value,
              form.get("independent_question2")?.value
            ).toFixed(1)
          }}</span
        >
        <span class="my-3"
          >心理面：{{
            psychological_score(
              form.get("psychological_question1")?.value,
              form.get("psychological_question2")?.value,
              form.get("psychological_question3")?.value
            ).toFixed(1)
          }}</span
        >
        <span class="my-3"
          >社會面：{{
            social_score(form.get("social")?.value).toFixed(1)
          }}</span
        >
        <span class="my-3"
          >環境面：{{
            environment_score(
              form.get("environment_question1")?.value,
              form.get("environment_question2")?.value,
              form.get("environment_question3")?.value
            ).toFixed(1)
          }}</span
        >
        <span class="my-3"
          >整體面：{{
            overall_score(form.get("overall")?.value).toFixed(1)
          }}</span
        >
      </div>
    </div>
    <div class="grid-columns-1 border-bottom-0">
      <div class="label">上次填寫結果：</div>
      <div>
        <!-- !TODO -->
        <span class="my-3">生理面：5.0</span>
        <span class="my-3">獨立面：5.0</span>
        <span class="my-3">心理面：4.0</span>
        <span class="my-3">社會面：2.0</span>
        <span class="my-3">環境面：1.0</span>
        <span class="my-3">整體面：5.0</span>
      </div>
    </div>
  </div>
  <div class="buttonArea">
    <!-- !TODO -->
    <app-button
      *ngIf="hd160ListService.isCreate"
      [buttonText]="'送出'"
      (click)="send()"
    />
    <app-button
      *ngIf="hd160ListService.isEdit"
      [buttonText]="'儲存'"
      (click)="save()"
    />
    <app-button
      *ngIf="hd160ListService.isEdit"
      [attachClassName]="['warning']"
      [buttonText]="'刪除'"
    />

    <app-button
      [attachClassName]="['danger']"
      [buttonText]="'關閉'"
      (click)="closeTab('生活品質問卷')"
    />
  </div>
</form>
