<span>
  <div class="grid-column-3 mb-2">
    <div class="volunteerTitle">姓名</div>
    <div class="volunteerContent">
      {{ volunteerInformationService.volunteerData[0].name }} ({{
        volunteerInformationService.volunteerData[0].age
      }}歲)
    </div>
    <div class="volunteerTitle">志工編號</div>
    <div class="volunteerContent">
      {{ volunteerInformationService.volunteerData[0].volunteerId }}
    </div>
    <div class="volunteerTitle">紀錄冊號</div>
    <div class="volunteerContent">
      {{ volunteerInformationService.volunteerData[0].recordBookId }}
    </div>
  </div>
  <div class="grid-column-3 mb-2">
    <div class="volunteerTitle">服務單位</div>
    <div class="volunteerContent">
      {{ volunteerInformationService.volunteerData[0].serviceUnit }}
    </div>
    <div class="volunteerTitle">榮譽卡期限</div>
    <div class="volunteerContent">
      {{ volunteerInformationService.volunteerData[0].honorCardExpiry }}
    </div>
    <div class="volunteerTitle">保險狀態</div>
    <div class="volunteerContent">
      {{ volunteerInformationService.volunteerData[0].insuranceStatus }}
    </div>
  </div>
  <div class="divCenter">
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd200/create') ||
          router.url.startsWith('/hd200/view') ||
          router.url.startsWith('/hd200/edit')
      }"
      (click)="goToHd200Form()"
      >基本資料</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd210/create') ||
          router.url.startsWith('/hd210/view') ||
          router.url.startsWith('/hd210')
      }"
      (click)="goToHd210()"
      >教育訓練</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd220/create') ||
          router.url.startsWith('/hd220/view') ||
          router.url.startsWith('/hd220')
      }"
      (click)="goToHd220()"
      >獎勵表揚</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd230/edit') ||
          router.url.startsWith('/hd230/view') ||
          router.url.startsWith('/hd230')
      }"
      (click)="goToHd230()"
      >服務時數</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton: router.url.startsWith('/hd240')
      }"
      (click)="goToHd240()"
      >保險</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:
          router.url.startsWith('/hd250') ||
          router.url.startsWith('/hd250/create') ||
          router.url.startsWith('/hd250/view') ||
          router.url.startsWith('/hd250/edit')
      }"
      (click)="goToHd250()"
      >服務品質評估表</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton: router.url.startsWith('/hd200/list2')
      }"
      (click)="goToHd200List2()"
      >個督紀錄</span
    >
    <span
      class="checkFormButton"
      [ngClass]="{
        highlightButton:  router.url.startsWith('/hd260/edit') || router.url.startsWith('/hd260/view')
      }"
      (click)="goToHd260Form()"
      >退隊表</span
    >
  </div>
</span>
